/* ================================================================ Reset CSS */

textarea,
input[type=text],
input[type=email],
input[type=password] {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

pre{
    background-color: #F1F1F1;
    border: 1px solid #E1E1E1;
}

/* ==================== Pages that hide the panel and have full-width content */

body.Entry #Content {
   max-width: 400px;
   float: none !important;
}

/* ==================== On Emmbeded forum, needs to have height */
body.embed #Content{
    float: none !important;
}

/* ============================================== General Styles & Typography */

h1.H a{
    /* font-size: inherit; */
    font-weight: inherit;
    line-height: inherit;
    /* color: inherit !important; */
}
.Conversations #ContentContainer h1.H a{
    font-size: inherit;
}

h2.H a{
/*    display: block; */
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
}

input.DateBox,
input.InputBox,
input.SmallInput,
ul.token-input-list,
textarea {
    font-size: inherit;
    padding: 7px 10px;
    background-color: transparent;
}
select {
   font-size: inherit;
}
input.DateBox:focus,
input.InputBox:focus,
input.SmallInput:focus,
ul.token-input-list:focus,
textarea:focus{
    background-color: transparent;
}

.Button,
.NavButton,
.ProfileButtons{
    display: inline-block;
    margin: 0;
    padding: 13px 16px 12px;
    background: none repeat scroll 0 0 #4BA3E9;
    border: 0 none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    color: #FFF;
    cursor: pointer;
    font-size: 14px;
    line-height: 11px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
	white-space: nowrap;
    text-transform: uppercase;
    box-shadow: none;
    /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24), 0 1px 4px rgba(0, 0, 0, 0.12);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;*/
}
a.ProfileButtons,
.NavButton{
    background: transparent !important;
    box-shadow: none !important;
}
a.ProfileButtons .SpEditProfile,
.NavButton .SpMessage,
.NavButton .SpDropdownHandle{
    opacity: 0.4;
}
a.ProfileButtons:hover .SpEditProfile,
.NavButton:hover .SpMessage,
.NavButton:hover .SpDropdownHandle{
    opacity: 0.54;
}
a.ProfileButtons:active .SpEditProfile,
.NavButton:active .SpMessage,
.NavButton:active .SpDropdownHandle,
.ButtonGroup.Open .NavButton .SpDropdownHandle{
    opacity: 0.87;
}
.NavButton.Handle .SpEditProfile{
    display: none;
}

input.Button,
input[type=submit].Button{
    padding: 0 16px;
    height: 36px;
    vertical-align: middle;
}
.Button:hover,
.NavButton:hover {
    background: none repeat scroll 0 0 #5eb1f4;
    border: none;
    color: #FFF;
}
.Button:focus,
.NavButton:focus {
    background: #eee;
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24), 0 1px 6px rgba(0, 0, 0, 0.12);*/
}
.Button:active,
.NavButton:active {
    background: #eee;
    /*box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);*/
}

.BigButton{
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
    padding: 7px 16px;
    text-transform: uppercase;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.NavButton.Handle .Sprite,
.Button.Handle .Sprite {
    border-color: #fff transparent transparent transparent;
    border: none;
    padding: 0;
}

.Buttons {
   margin-top: 20px;
}
.Buttons a,
.Buttons input{
    text-transform: uppercase;
}
.Buttons:after { /* clearfix */
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

.P{
    margin: 0;
}

.PageControls {
    margin: 0;
    min-height: none;
}
.PageControls.Top{
    display: none;
}
.Pager a{
    font-weight: 400;
}

.NumberedPager a,
.NumberedPager span {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-weight: normal;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
}
.NumberedPager a.Next,
.NumberedPager span.Next{
    border-right: none !important;
}
.NumberedPager a.Next,
.NumberedPager span.Next {
    background-position: -50px 0;
    background-repeat: no-repeat;
}
.NumberedPager a.Previous,
.NumberedPager span.Previous {
    background-position: 0 0;
    background-repeat: no-repeat;
}
.NumberedPager a.Next:hover {
    background-position: -50px -50px;
}
.NumberedPager a.Previous:hover {
    background-position: 0 -50px;
}
.NumberedPager a.Next:active {
    background-position: -50px -100px;
}
.NumberedPager a.Previous:active {
    background-position: 0 -100px;
}
.NumberedPager span.Next {
    background-position: -50px -150px;
}
.NumberedPager span.Previous {
    background-position: 0 -150px;
}

.DismissMessage{
    clear: both;
    margin: 0 0 30px 0;
}

.InformMessages .icon img{
    border-radius: 100%;
}

.Empty,
.NoResults,
.DismissMessage.CasualMessage,
.DismissMessage.InfoMessage,
.DismissMessage.AlertMessage,
.DismissMessage.WarningMessage,
.DismissMessage{
    border: none;
}

.Errors ul{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.DismissMessage a.Dismiss {
    top: -1px;
    right: -1px;
}
.DismissMessage a.Dismiss:hover {
    background-color: transparent;
}

.SplashMessage .SplashInfo{
    overflow: hidden;
}

ul.Discussions .Options,
ul.Conversations .Options,
.ControlOptions,
.Options {
    margin: 11px 0 11px 18px;
    float: right;
    height: 20px;
}
.PageContent .Options{
    margin-right: 11px;
}
.DiscussionsTable .Options{
    margin: 11px 10px 0 18px;
}
.Activities .Options,
.Discussion .Options{
    margin-top: 21px;
}
.Options > span,
.Options > a{
    display: block;
}

.Item .Options{
    display: none;
}
.Item:hover .Options{
    display: inline-block;
}

hr.sep {
    clear: both;
    margin: 0 0 8px 0;
    padding: 8px 0 0 0;
    border-top: none;
    border-bottom: 1px solid #e8e8e8;
    border-left: none;
    border-right: none;
    line-height: 1px;
}

.PageDescription{
    margin: 0;
}

html {
    overflow-y: scroll;
    height: 100% !important;
    min-height: 100% !important;
}
body {
    height: 100% !important;
    min-height: 100% !important;
}
body.embedded{
    height: auto !important;
}
#Frame{
    position:relative;
    margin: 0 auto;
    min-height: 100% !important;
}
#FootWrapper{
    position: relative;
    bottom: 0;
    width: 100%;
}
#Foot {
   margin: 0;
   padding: 0;
   clear: both;
   text-align: left;
}
.PoweredByVanilla{
    display: inline;
    background: transparent;
    width: auto;
    height: auto;
}

#Frame,
#HeadWrapper,
#Head,
#BodyWrapper,
#Body,
#Breadcrumbs,
#Content,
#Panel,
#FootWrapper,
#Foot,
#SubFootWrapper,
#SubFoot{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

/* =================================================================== Header */

#Head{
    position: relative;
    background: transparent;
    clear: both;
}

#Head:after { /* clearfix */
	visibility: hidden;
	display: block;
	content: "&nbsp;";
	clear: both;
	height: 0;
}

#Logo {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    line-height: 0;
    vertical-align: top;
    background-color: transparent !important;
}
#Head h1 a {
    display: inline-block;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

#Menu {
    float: right;
    z-index: 100;
}
#Menu a{
    background-position: center -700px;
    background-repeat: no-repeat;
    border-radius: 2px;
}
#Menu li {
    float: left;
}
#Menu li.Dashboard a{
    background-position: center 0;
}
#Menu li.Discussions a{
    background-position: center -100px;
}
#Menu li.Activity a{
    background-position: center -200px;
}
#Menu li.Conversations a{
    background-position: center -300px;
}
#Menu li.UserNotifications a{
    background-position: center -400px;
}
#Menu li.SignIn a{
    background-position: center -500px;
}
#Menu li.SignOut a{
    background-position: center -600px;
}
/*
#Menu li.Dashboard a:hover,
#Menu li.Dashboard.Highlight a{
    background-position: -100px 0;
}
#Menu li.Discussions a:hover,
#Menu li.Discussions.Highlight a{
    background-position: -100px -100px;
}
#Menu li.Activity a:hover,
#Menu li.Activity.Highlight a{
    background-position: -100px -200px;
}
#Menu li.Conversations a:hover,
#Menu li.Conversations.Highlight a{
    background-position: -100px -300px;
}
#Menu li.UserNotifications a:hover,
#Menu li.UserNotifications.Highlight a{
    background-position: -100px -400px;
}
#Menu li.SignIn a:hover{
    background-position: -100px -500px;
}
#Menu li.SignOut a:hover{
    background-position: -100px -600px;
}
*/

#menu-container {
    position: relative;
    display: block;
    float: right;
    width: auto;
}
#menu-container.new-line {
    float: none;
    max-width: none;
    margin: 20px auto !important;
}

#Menu a{
    display: block;
    text-align: center;
    vertical-align: text-bottom;
    word-wrap: break-word;
    -webkit-transition: all 0.3s ease;
   -moz-transition: 0.3s ease;
   transition: 0.3s ease;
}
#Menu a:hover{
    /*
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
    */
}

#Logo.new-line{
    display: block;
    margin: 0 auto;
}
#Logo img{
    display:block;
    max-width:100% !important;
    height:auto;
}


/* RESPONSIVE MENU*/
#menu-container.collapsed {

}
#Menu.collapsed{
    position: absolute;
    top: 48px;
    right: 16px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 200px;
    opacity: 1 !important;
}
#Menu.collapsed li{
    float: none;
}
#Menu.collapsed li a{
    display: block;
    padding: 12px 16px;
    font-size: 16px;
    line-height: 24px;
    height: auto;
    text-align: left;
    background-image: none;
    width: auto;
    text-indent: 0;
    border-radius: 0 !important;
    overflow: hidden;
}
#Menu.collapsed li.Highlight a,
#Menu.collapsed li a:hover{
    border-bottom-color: transparent;
}
.menu-collapser {
    position: relative;
    color: #FFF;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    padding: 0;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.collapse-button {
    position: relative;
    top: 0;
    right: 0;
    margin: 0;
    padding: 15px !important;
    width: 18px !important;
    height: 18px !important;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
}
.menu-collapser:hover .collapse-button,
.menu-collapser:focus .collapse-button {
    /* background-color: #333; */
}
.collapse-button .icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    margin: 3px 0 0 0;
    background-color: #FFFFFF;
}


/*
.menu-collapser {
	color: #FFFFFF; /* Color:Normal *
}
.menu-collapser:hover{
	color: #FFFFFF; /* Color:Hover *
}
#menu-container.active .menu-collapser{
	color: #FFFFFF; /* Color:Active *
}
.menu-collapser{
    background-color: #479de2 ; /* Background Color:Normal *
}
.menu-collapser:hover{
    background-color: #0F8CDE ; /* Background Color:Hover *
}
#menu-container.active .menu-collapser{
    background-color: #0F84D2 ; /* Background Color:Active *
}
.collapse-button{
    background-color: #555555 ; /* Handle:Normal *
}
.menu-collapser:hover .collapse-button{
    background-color: #444444 ; /* Handle:Hover *
}
#menu-container.active .collapse-button{
    background-color: #333333 ; /* Handle:Active *
}
*/

#Breadcrumbs {
    float: left;
}
#Breadcrumbs,
#Breadcrumbs span,
#Breadcrumbs a{
    line-height: 1.2 !important;
}

#Content {
    clear: both;
    float: left;
    border-radius: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


/* Tabs */
.DiscussionsTabs{
    margin-bottom: 30px;
}
ul.Tabs {
    margin: 0;
	padding: 0;
    float: right;
	border-bottom: none;
}
ul.Tabs li a {
	background: transparent;
	position: static;
    margin: 5px 0 5px;
	padding: 5px 10px;
    border: none;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    white-space: nowrap;
}
ul.Tabs li a span.Count{
	margin: 0 0 0 3px;
    vertical-align: top;
}

.OptionsTitle {
    width: 20px;
    height: 20px;
    background-position: 0 -101px;
}
.OptionsTitle:hover {
    background-position: 0 -121px;
}
.Open > .OptionsTitle {
    background-position: 0 -141px !important;
}

.MenuItems:before,
.MenuItems:after {
    border-bottom-color: transparent !important;
    top: -8px;
}
.MenuItems:after {
    top: -7px;
}
.OptionsMenu .MenuItems {
   top: 27px;
   right: 0;
}
.OptionsMenu .MenuItems:before,
.OptionsMenu .MenuItems:after {
    right: 0;
}
.MenuItems{
    padding: 8px 0 !important;
    border-radius: 2px;
    border: none;
    /* min-width: 192px; */
    width: 200px;
    opacity: 1 !important;
    background-color: #FFF;
    box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
}
.MenuItems a{
    padding: 7px 15px !important;
    text-align: left !important;
}
.MenuItems hr {
    margin: 0 0 8px 0;
    padding: 0 0 8px 0;
    height: 0;
    border: 0;
    border-bottom: 1px solid #ddd;
}

a.Bookmark,
a.Bookmarked,
a.Bookmarking {
   margin: 11px 10px;
   float: right;
   background: url(styles/system/img/discussions/list/menu/options_bookmark.png) 0 0 no-repeat;
   width: 20px;
   height: 20px;
}
.DiscussionsTable a.Bookmark{
    margin: 5px 10px 0;
}
a.Bookmark:hover {
	background-position: 0 -20px;
}
a.Bookmarked {
   background-position: 0 -40px;
}
a.Bookmarked:hover {
   background-position: 0 -80px;
}
a.Bookmarking,
a.Bookmarking:hover {
   background-position: 0 -60px;
}
.Item .OptionsActive a.Bookmark{
    margin-left: 48px;
}
.Item:hover .OptionsActive a.Bookmark{
    margin-left: 10px;
}


body.Discussion a.Bookmark,
body.Discussion a.Bookmarked,
body.Discussion a.Bookmarking{
    float: right;
    margin: 3px;
    background: url(styles/system/img/discussions/list/options_bookmark/options_bookmark.png) 0 0 no-repeat;
    width: 24px;
    height: 24px;
}
body.Discussion a.Bookmark:hover {
	background-position: 0 -24px;
}
body.Discussion a.Bookmarked {
   background-position: 0 -48px;
}
body.Discussion a.Bookmarked:hover {
   background-position: 0 -72px;
}
body.Discussion a.Bookmarking,
body.Discussion a.Bookmarking:hover {
   background-position: 0 -96px;
}

/* ======================================================== Panels / Sidebars */
#Panel {
    float: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#SearchBox{
    position: relative;
    bottom: 0;
    float: right;
    margin: 0;
    padding: 14px 24px 14px 24px;
    width: 0;
    max-width: 400px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
}
@media only screen and (max-width : 400px){
    #SearchBox{
        max-width: 320px;
    }
}

input#Form_Search{
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 14px;
    line-height: 36px;
    height: 36px;
    vertical-align: top;
    background-color: transparent;
    border: none;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.Search .Message mark{
    background-color: transparent;
}

/* Place Holder*/
::-webkit-input-placeholder {
    color:    #eee;
}
:-moz-placeholder {
   color:    #eee;
   opacity:  1;
}
::-moz-placeholder {
   color:    #eee;
   opacity:  1;
}
:-ms-input-placeholder {
   color:    #eee;
}

input#Form_Go,
#Form_Close,
i.Form_Go{
    position: absolute;
    top: 8px;
    left: 0;
    margin: 0 !important;
    padding: 0 !important;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    text-indent: -9999px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-shadow: none;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
    z-index: 2;
}
input#Form_Go{
    top: 0;
    border: none;
}
i.Form_Go{
    /*
   -webkit-transition: all 0.3s ease;
   -moz-transition: 0.3s ease;
   transition: 0.3s ease;
   */
}
i.Form_Go:hover{
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
}

#Form_Close{
    display: none;
    left: auto;
    right: 0;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow:hidden;
    z-index: 1;
}
#SearchBox.expanded #Form_Close:hover{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg);
}
#Form_Close:active{
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
}

a.NewDiscussion,
a.NewConversation,
a.ClearConversation,
a.AddPicture{
    margin: 0 0 16px 0;
}

.Box,
#Panel .BoxFilter{
    float: left;
    margin: 0 0 8px 0;
}
.Box,
.Box div {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.Box.MeBox{
    overflow: visible;
}

.Box.GuestBox > h4{
    margin: 0 0 16px 0 !important;
    padding: 0 !important;
}
.Box.GuestBox .Buttons{
    margin-top: 10px !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    text-align: center;
}
.Box.GuestBox .Buttons .Button.SignInPopup,
.Box.GuestBox .Buttons .Button.ApplyButton{
    margin: 6px 8px 6px;
}

.PanelInfo{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#Panel .FilterMenu li,
.PanelInfo li {
    border-bottom: none;
    padding: 0;
}
.PanelCategories .Depth2{
    padding-left: 16px;
}
#Panel .FilterMenu li:first-child,
.PanelInfo li:first-child {
	border-top: none;
}
#Panel .FilterMenu li a,
.PanelInfo li a{
    display: block;
    position: relative;
    text-align: left !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#Panel .FilterMenu li:last-child a,
.PanelInfo li:last-child a {
	border-bottom: none;
}
#Panel .Box.BoxDiscussions ul{
    padding: 8px 0 0 0 !important;
}
#Panel .Box.BoxDiscussions li{
    padding-top: 0 !important;
}
#Panel .Box.BoxDiscussions li:hover{
    background-color: transparent !important;
}
#Panel .Box.BoxDiscussions li .Title a{
    display: block;
    font-size: 16px;
}
#Panel .Box.BoxDiscussions li .Meta a{
    display: inline-block;
}
#Panel .Box.BoxDiscussions li .Meta{
    padding-bottom: 15px;
}
#Panel .Box.BoxDiscussions li .Options{
    display: none;
}
#Panel .Box.BoxDiscussions li.ShowAll a{
    font-weight: 400;
    text-align: center !important;
}

.PanelInfo li > a,
.PanelInfo li > strong > a{
    position: relative;
    padding: 5px 15px;
}
.PanelInfo li.Heading{
    margin: 10px 0 0 0;
    color: #555555;
}
.PanelInfo li a .Count{
    display: block;
    position: absolute;
    margin: -14px 0 0 0;
    top: 50%;
    right: 0;
    border-radius: 0;
    background-color: transparent;
}
.PanelInfo li a.UserLink > span{
    float: right;
    font-size: 11px;
    color: #999999;
}

.PanelInfo .Active,
#Panel .FilterMenu .Active{
    font-weight: 700;
    background: transparent;
}

#Body{
    position: relative;
}

.MeBox{
    margin: 0;
    padding: 0;
}
.Profile .MeBox{
    display: block;
}
.MeBox .UserPhoto{
    float: left;
    margin: 0;
    padding: 3px;
    border: none;
    border-radius: 50%;
}
.MeBox .UserPhoto img{
    width: 16px;
    height: 16px;
    border-radius: 1000px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.MeBox .Username{
    display: block;
    padding: 0 5px;
    float: left;
    font-size: 12px !important;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
}
.MeBox .WhoIs{
    float: right;
    min-height: 0;
}
.MeBox .MeMenu{
    float: right;
    margin-right: 9px;
}
.MeButton{
    padding: 4px;
    line-height: 16px;
    height: 16px;
    border: none;
    border-radius: 0 !important;
    vertical-align: top !important;
}
.MeButton:hover{
    background: transparent;
}
.MeButton .Alert{
    top: 0;
    right: 0;
    border-radius: 2px;
}
.MeButton .Sprite{
    vertical-align: top;
}
.MeBox .ToggleFlyout{
    display: inline-block;
    z-index: 110;
}
.MeBox .Flyout{
    top: 27px;
    border-radius: 2px;
    overflow: hidden;
}
.MeBox .Flyout:before,
.MeBox .Flyout:after{
    left: auto;
    right: 16px;
}
.MeBox .Flyout{
    left: auto;
    right: 0;
    opacity: 1 !important;
}

.Flyout .Subject a{
    font-size: 14px !important;
    line-height: 20px !important;
}
.Flyout .Excerpt{
    font-size: 12px !important;
    line-height: 18px !important;
}
.Flyout .Meta,
.Flyout .Meta a{
    font-size: 12px !important;
    line-height: 18px !important;
}

.UserPhotoHeader .ProfilePhotoLarge,
.UserPhoto .PhotoWrap,
.UserBox .PhotoWrap{
    display: block;
    float: none;
    border-radius: 1000px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    overflow: hidden;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
.UserPhoto .PhotoWrap img,
.UserBox .PhotoWrap img{
    border: none;
}
.UserPhoto.Box .UserPhotoHeader,
.UserBox.Box .UserPhotoHeader{
    text-align: center;
}
.UserPhoto.Box .UserPhotoHeader{
    margin-bottom: 0 !important;
}

.ProfilePhotoLarge{
    max-width: 200px;
    width: 100%;
}

.UserPhoto.Box .PhotoWrap .ProfilePhotoLarge,
.UserBox.Box .PhotoWrap .ProfilePhoto{
    width: 100%;
    height: auto;
}

.UserPhoto .WhoIs,
.UserBox .WhoIs,
.UserPhoto .WhoIs .Username,
.UserBox .WhoIs .Username,
.UserPhot .WhoIs .Email,
.UserBox .WhoIs .Email{
    line-height: 1.3;
    min-height: 1;
    vertical-align: baseline;
}

.UserPhoto.Box .UserPhotoHeader a,
.UserBox.Box .UserPhotoHeader a{
    font-weight: 400;
}

a.ChangePicture{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 300px;
    text-indent: -9999px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: rgba(0,0,0,0.5) url(images/change_picture.png) scroll no-repeat center center;
    opacity: 0;
    -moz-transition: opacity 200ms linear 0s;
    -webkit-transition: opacity 200ms linear 0s;
    -o-transition: opacity 200ms linear 0s;
    transition: opacity 200ms linear 0s;
}
a.ChangePicture:hover{
    opacity: 1;
}

/* ================================================ DataList (Search Results) */

.Discussions .HomepageTitle{
    position: relative;
}

.AdminCheck{
    position: relative;
    float: left;
    margin: 11px -20px 0 0;
    width: 20px;
    height: 20px;
    text-align: center;
    z-index: 2;
}
.MessageList .AdminCheck{
    margin-top: 19px;
}
.HomepageTitle .AdminCheck{
    display: inline-block;
    float: none;
    margin: 0 0 0 -20px !important;
    padding: 0 !important;
    vertical-align: middle;
	line-height: 0;
}
.Options .AdminCheck{
    margin: 0;
}
body.Discussions .Options .TopAdminCheck{
    margin: 9px 0 0 0;
}
body.Discussion .TopAdminCheck{
    position: static;
    float: left;
    margin: 19px 0 0 -25px;
}
body.Discussion .Options .TopAdminCheck{
    position: static;
    margin: 0;
    float: none;
    width: 20px;
    height: 20px;
}
.DataTable .AdminCheck{
    position: static;
    float: none;
    margin-right: 0px;
}
.DataTable td.CheckBoxColumn{
    padding-left: 5px;
    padding-right: 0;
    width: 20px;
}
body.Profile .AdminCheck{
    display: none;
}
.TopAdminCheck,
.HomepageTitle .AdminCheck,
.AdminCheck{
    display: none;
}

.DataList .Item,
.NarrowList .Item {
   border: none;
}

.MessageList.Discussion .Item-Header,
.MessageList.Discussion .Item-Body,
.MessageList.Conversation li:first-child .Item-Header,
.MessageList.Conversation li:first-child .Item-Body{
    padding-top: 8px !important;
}

.MessageList .Discussion,
.MessageList .Comment,
.MessageList .Item,
.DataList .Item{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.MessageList .Item,
.DataList .Item {
    padding: 0;
}
/*
.MessageList .Item:last-child .Comment{
    border-bottom: none;
}
*/

.DataList .ItemContent{
    float: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.DataList.Comments .Item{
    padding: 0 !important;
}

ul.MessageList li.Item{
    background: transparent;
}

.Item.Checked {
    background: transparent;
}

.ItemDiscussion .Meta,
.DataList .Meta {
    display: block;
    line-height: 0;
}

.MItem{
    display: inline-block;
}
.MItem,
.MItem:last-child{
    margin: 0 5px 0 0;
}
.Meta .MItem:after{
    margin: 0 0 0 5px;
    content: "·"
}
.Meta > .MItem:last-child:after,
.Activities .Meta > .MItem.DateCreated:after{
    margin: 0;
    content: "\00a0";
}
*/

.Meta .InlineTags{
    display: inline;
}

.DataList .Meta .ViewCount,
.DataList .Meta .CommentCount,
.DataList .Meta .LastCommentBy,
.DataList .Meta .LastCommentDate,
.DataList .Meta .DiscussionCount,
.DataList .Meta .Category{
/*
    padding-left: 18px;
    background-image: url(styles/system/img/meta/meta.png);
*/
    background-color: transparent;
    background-position: center 0;
    background-attachment: scroll;
    background-repeat: no-repeat;
}
.DataList .Meta .ViewCount{
    background-position: 0 -64px;
}
.DataList .Meta .CommentCount{
    padding-right: 0 !important;
    background-position: 0 0;
}
.DataList .Meta .LastCommentBy{
    background-position: 0 -16px;
}
.DataList .Meta .LastCommentDate{
    background-position: 0 -32px;
}
.DataList .Meta .DiscussionCount{
    background-position: 0 0;
}
.DataList .Meta .Category{
    background-position: 0 -48px;
}

.JustNew{
    display: inline;
}
.DataList .Meta .Tag-Announcement,
.DataList .Meta .HasNew,
.DataList .Meta .Tag-Closed{
    margin: 0 5px 0 0;
}

.DataList .Excerpt {
   margin: 0;
}

body.Drafts .DataList .Excerpt {
    margin-bottom: 0;
}
.Condensed .Excerpt{
    display: block;
}

.Tag,
.HasNew {
   position: static !important;
   font-size:12px;
   font-weight:normal;
   padding: 1px 4px;
   line-height: 1;
   white-space: nowrap;
   border-radius: 2px;
   box-shadow: none !important;
   text-transform: capitalize;
}
.Options .HasNew {
    float: right;
    margin-bottom: 3px;
}

.Item.Read {
   background: transparent;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.Item.Read:hover {
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

/* ITEM */
.ItemDiscussion{
    margin: 0;
    padding: 0;
}

.MessageList .Discussion,
.MessageList .Comment,
.MessageList .Item{
    position: relative;
}


.MessageList .Discussion:after,
.MessageList .Comment:after,
.DataList .Item:after,
.MessageList .Item:after { /* clearfix */
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

.MessageList .Item-Header{
    float: left;
    font-size: 11px;
	min-height: 40px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.MessageList .Meta span,
.MessageList .Meta a{
    font-size: 9px;
    line-height: 120%;
}
.MessageList .Meta span{
    display: inline-block;
}
 .AuthorName,
.MessageList .Author,
.MessageList .Meta .AuthorName{
    display: block;
}


.MessageList .Author,
.MessageList .PhotoWrap,
.MessageList .Username{
    color: #212121;
}
.MessageList .Username{
    line-height: 120%;
}
.Author img {
   width: 100% !important;
   height: auto !important;
}
.Author .PhotoWrap{
    margin: 0;
    float: none;
}

.DataList .Author.Photo{
    display: block;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.PhotoWrap{
    display: block;
    border-radius: 1000px;
    border: 1px solid rgba(0,0,0,0.15);
    overflow: hidden;
}
.DataList .PhotoWrap img,
.MessageList .PhotoWrap img,
.Form-Header .PhotoWrap img{
    width: 100%;
    height: auto;
    font-size: 12px;
    text-align: center;
}
.DataList.Discussions .PhotoWrap img{
    width: 100%;
    height: auto;
}
.DataList .Item .Item .PhotoWrap img{
    width: 100%;
    height: auto;
}
.Form-Header .Author .PhotoWrap{
    margin: 0;
}
.Form-HeaderWrap{
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.Form-BodyWrap{
    float: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
}

.Item .Author a,
.Preview .Item-Header .Author a{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #212121;
}
/*
.MessageList .Meta .MItem.Category,
.MessageList .Meta .MItem.IPAddress{
    display: none;
}
*/

.MessageList .Item-Body{
    float: none;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.MessageList.SearchResults .Item:last-child .Item-Body,
.MessageList.Drafts .Item:last-child .Item-Body,
.MessageList.BlogList .Item:last-child .Item-Body{
    border-bottom: none;
}

/*
.Reactions{
    display: none;
}
*/

.DataList .Comment .MessageForm{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.CommentForm textarea.TextBox {
   width: 100%;
   height: 100px;
   min-height: 100px;
   margin: 0;
   resize: vertical;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
#DiscussionForm form {
   border: none;
   margin: 0;
   padding: 20px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

#DiscussionForm  .P{
    margin: 0 0 20px 0;
}

#DiscussionForm input.Button,
#DiscussionForm a.Cancel{
    float: right;
    margin: 6px 0 6px 12px;
    text-transform: uppercase;
}
#DiscussionForm input.Button,
#DiscussionForm a.Cancel{
    float: right;
    margin: 6px 0 6px 12px;
    text-transform: uppercase;
}
#DiscussionForm i.Button{
    float: right;
    margin: 6px 0 6px 12px;
}

#DiscussionForm a.Cancel{
    display: inline-block;
    padding: 0 16px;
    line-height: 36px;
    border-radius: 2px;
}


.Flyout,
.FlyoutMenu {
    margin: 0 !important;
    padding: 0;
    border: 1px solid #e3e3e3 !important;
    border-radius: 2px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.FlyoutMenu {
    width: 300px;
}

.Flyout:before,
.Flyout:after {
   border: none;
   top: -8px;
}
.Flyout:after {
   border: none;
   top: -7px;
}
.PopList .Item.Title{
    float: none !important;
    padding: 2px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.PopList li.Item {
    margin: 0 !important;
    padding: 0;
    border-bottom: none;
}
.PopList li.Item:last-child {
    border-bottom: none !important;
}
.PopList .Author{
    float: left !important;
    margin: 0 !important;
    padding: 15px !important;
    width: 72px !important;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.PopList .Author img{
    width: 40px !important;
    height: 40px !important;
}
.PopList .ItemContent{
    float: left !important;
    margin: 0 !important;
    padding: 15px 15px 15px 0 !important;
    width: 220px !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.PopList .ItemContent{
    font-size: 13px;
    font-weight: 400;
    color: #757575;
}
.PopList .ItemContent > a:first-child{
    font-size: 13px;
    color: #212121;
}
.PopList .ItemContent > a:nth-child(2){
    display: block;
    font-size: 14px;
    color: #212121;
}
.PopList .ItemContent .Meta{
    margin: 0;
    clear: both;
}

.DataList.CategoryList .Item{
    background-color: transparent;
}
.DataList.CategoryList .ItemContent{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.Discussions .DataList > li:last-child .Discussion.ItemContent,
.Categories .DataList > li:last-child .Category.ItemContent,
.Conversations .DataList > li:last-child .Conversation.ItemContent,
.Categories > .CategoryBox:last-child > ul > li:last-child .Discussion.ItemContent,
.Profile .DataList > li:last-child .Discussion.ItemContent{
    border-bottom: none;
}

.PopList.Activities .Item.Title > a,
.PopList.Conversations .Item.Title > a{
    display: inline-block;
    text-indent: -9999px;
    margin: 12px 0;
    width: 24px;
    height: 24px;
    background: url(styles/system/img/plugins/sprites/sprites-on-color.png) scroll no-repeat 0 -144px;
}

.PopList.Activities .Item.Title > a{ background-position: 0 -144px; }
.PopList.Conversations .Item.Title > a{ background-position: -24px -144px; }

.PopList .Center a{
    padding: 14px 15px;
    /* text-align: right; */
}

.Categories .DataList.CategoryList .Item .Author a.PhotoWrap,
.Categories .DataTable.CategoryTable .CategoryName a.PhotoWrap{
    display: block;
    text-align: center;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.Categories .DataList.CategoryList .Item .Author a.PhotoWrap img,
.Categories .DataTable.CategoryTable .CategoryName a.PhotoWrap img{
    width: auto !important;
    height: auto !important;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* =============================================================== Activities */

.Activities .DataList li {
	background: transparent;
	margin: 0;
	padding: 0;
}

.Activities .Title{
    margin-right: 10px;
    font-size: 14px;
    font-weight: 400;
}
.Activities ul li .Title{
    margin-top: 0;
}

.Activities .ActivityComments{
    padding-top: 30px;
}
.Activities a.CommentLink,
.Activities a.CommentLink:hover {
   display: inline;
   cursor: pointer;
   background: transparent;
   padding: 0;
   line-height: 1 !important;
   text-decoration: none;
   border: none;
}

.Activities li:last-child .ItemContent{
    border-bottom: none !important;
}
.Activities ul li.ActivityComment .ItemContent{
    background-color: transparent;
}
.Activities ul.ActivityComments li:nth-last-child(2) .ItemContent{
    /* padding-bottom: 0 !important; */
    border-bottom: none !important;
}

Form.Activity{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.Profile Form.Activity{
    margin-top: 0 !important;
    padding-top: 0 !important;
}
form.Activity textarea {
    width: 100%;
    height: 100px;
    min-height: 100px;
    border: 1px solid #ccc;
    padding:15px 20px;
    margin-bottom: 20px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    resize: vertical;
}

.Activities .Item{
    overflow: hidden;
}
.Activities .Author,
.Conversations .Author.Photo {
	float: left;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.Activities .Author a.Name{
    display: block;
    font-size: 12px;
    line-height: 14px;
}
.Activities .Author .DateCreated{
    display: block;
    font-size: 9px;
    line-height: 14px;
    text-transform: uppercase;
}
.Activities .ItemContent,
.Conversations .ItemContent{
	float: none;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.Activities .ActivityComments{
    clear: both;
}
.Activities .CommentForm{
    margin: 0;
    width: auto !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.Activities .CommentForm textarea.TextBox{
    resize: vertical;
}

.Activities .AddComment{
    float: right;
    margin-top: 21px;
}
.Activities .Item .Item  .Options{
    margin-top: 11px;
}
.Activities .AddComment a{
    display: block;
    background: url(styles/system/img/activities/activities.png) scroll no-repeat -18px -18px;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    opacity: 0.40;
}
.Activities .AddComment a:hover{
    opacity: 0.54;
}
.Activities .AddComment a:active{
    opacity: 0.87;
}

.DataList .ItemContent a.CommentLink{
    float: right;
}

.DataList a.Delete{
    display: block;
    float: right;
    padding: 0;
    background: transparent url(styles/system/img/activities/activities.png) scroll no-repeat -18px -74px;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    opacity: 0.40;
    visibility: visible;
}
.DataList a.Delete:hover{
    background: transparent url(styles/system/img/activities/activities.png) scroll no-repeat -18px -74px;
    opacity: 0.54;
}
.DataList a.Delete:active{
    opacity: 0.87;
}

/* ============================================================== MessageList */

.Message {
    margin-top: 0;
}

ul.MessageList li.Comment .Comment,
ul.MessageList li.Item .ConversationMessage{
    display: block;
    width: 100%;
    float: left;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.MessageList .Meta {
    display: inline-block;
    position: relative;
    font-size: 11px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
ul.MessageList li.Item .ConversationMessage > .Message{
    float: left;
}

.Preview .Message,
.MessageList .Message {
    word-wrap: break-word;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.InThisConversation .PanelInfo .PhotoWrap{
    display: inline-block;
    clear: left;
    float: left;
    padding-right: 10px !important;
    border: none;
}
.InThisConversation .PanelInfo .PhotoWrap img{
    border-radius: 1000px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.InThisConversation .PanelInfo .ProfilePhotoSmall{
    width: 32px;
    height: 32px;
}
.InThisConversation .PanelInfo .UserLink{
    padding-left: 0 !important;
    line-height: 32px;
}

.AddPeople textarea.MultiComplete {
    width: 100%;
    height: 32px;
    min-height: 32px;
    font-size: 14px;
    margin-bottom: 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    resize: vertical;
}

#MessageForm textarea {
    width: 100%;
    height: 100px;
    min-height: 100px;
    border: 1px solid #ccc;
    padding:15px 20px;
    margin-bottom: 20px;
    background-color: transparent;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    resize: vertical;
}

#ConversationForm form {
   border-radius: 2px;
	-moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
	margin:0;
	padding:20px;
	text-align: right;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
#ConversationForm form .editor{
    text-align: left;
}
#ConversationForm form iframe{
    margin: 0 !important;
}

#ConversationForm .P{
    margin: 0 0 20px 0;
}

/* ============================================================= Profile Page */

#Status{

}
.Gloss{
    vertical-align: top;
}

.ProfileButtons,
.NavButton{
    display: inline-block;
    padding: 0 16px !important;
    font-size: 14px !important;
    border-radius: 2px;
    background: transparent;
}

.ProfileTabs{
    display: block;
}
.ProfileTabs:after { /* clearfix */
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

body.Profile.EditMode #Content form{
    background-color: transparent;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
body.Profile.EditMode .ProfileButtons{
    margin-top: 36px;
    margin-right: 15px;
}

table.PreferenceGroup{
    width: 100% !important;
}
.Info{
    width: 100% !important;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.About dl dt {
    display: block;
    margin-bottom: 8;
    float: left;
    font-size: 12px;
    width: 70px;
    color: #555;
    overflow: hidden;
}
.About dl dd {
    display: block;
    margin-left: 84px;
    margin-bottom: 8px;
    padding: 0;
    font-size: 14px;
    text-align: left;
    word-break: break-all;
}
.About dl dd a{
    font-size: 14px;
    line-height: 1;
}
.About dl dt:last-child,
.About dl dd:last-child {
    margin-bottom: 0;
}

dl.About dt {
   background: url('styles/system/img/profile/about_box/profile-sprites.png') 0 -139px no-repeat transparent;
   padding-left: 15px;
}
dl.About dt.Name { background-position: 0 -26px; }
dl.About dt.Email { background-position: 0 -53px; }
dl.About dt.Joined,
dl.About dt.LastActive { background-position: 0 3px; }
dl.About dt.Roles { background-position: 0 -81px; }
dl.About dt.Posts { background-position: 0 -113px; }
dl.About dt.IP { background-position: 0 -169px; }
dl.About dt.Visits { background-position: 0 -198px; }


.Notifications .Title{
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #757575;
}
.Notifications .Title > a:first-child{
    font-size: 14px;
    line-height: 18px;
    color: #212121;
}
.Notifications .Title > a:nth-child(2){
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: #212121;
}
.Notifications .Activity-BadgeAward .Title > a:nth-child(2){
    display: inline;
}

/* ================================= Conversation, Discussion & Comment Forms */

.FormWrapper,
.EditCommentForm .FormWrapper{
    margin: 0;
    padding: 0;
    background: transparent;
}
.MessageList .Comment .MessageForm.EditCommentForm{
    border-bottom: none;
}
.EditCommentForm .Form-BodyWrap{
    margin: 0 !important;
    padding: 0 !important;
}
.FormWrapper-Condensed {
    margin: 0;
    padding: 0;
}


/* ============================== Conversations ============================= */

textarea.MultiComplete {
   height: 32px;
}

.ac_results{
    border-top: 0 !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.ac_results li {
   padding: 11px 10px;
   font-size: 14px;
   line-height: 18px;
   border-bottom: none;
}
.ac_results li:last-child,
.ac_results li.ac_lastitem{
    border-bottom: none !important;
}
.ac_results li strong,
div.token-input-dropdown ul li b{
    background-color: transparent;
    font-weight: 400;
}
.ac_results li:hover strong,
div.token-input-dropdown ul li:hover b{
    background-color: transparent;
}

/* ================================================= CommentForm */

.Preview {
    background: transparent;
    padding: 0;
    min-height: 0;
}
.Preview .Author .PhotoWrap{
    display: none;
}
#DiscussionFormPreview .Item-Header .Username{
    display: none;
}
.FormWrapper .Preview .Item-Body{
    margin-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    float: none !important;
    border-bottom: none !important;
}
#DiscussionFormPreview .Item-Body{
    border-bottom: none !important;
}

#DiscussionFormPreview {
    padding: 20px 30px 30px;
}

.CommentForm .FormWrapper {
    padding: 0;
}

.EditCommentForm .Buttons,
.CommentForm .Buttons {
	position: relative;
    text-align: right;
	margin: 20px 0 0 0;
	padding: 0;
}

.CommentForm .Back,
.CommentForm .Back a{
    font-size: 12px;
    line-height: 36px;
    color: #999;
    text-transform: none;
}

.CommentForm .WriteButton,
.CommentForm .PreviewButton,
.CommentForm .DraftButton,
#Form_PostComment{
	display: inline-block;
    margin: 6px 0 6px 12px;
}
i.Button > input,
i.CommentButton > #Form_PostComment {
    margin: 0;
    padding: 10px 16px;
    height: 36px;
    line-height: 11px;
}
i.Button {
    margin: 6px 0;
}
i.CommentButton {
    margin-left: 12px;
}

.CommentForm input.Button{
    float: right;
    margin-left: 12px;
}

.EditCommentForm .Buttons .Cancel{
	float: none;
    margin-right: 12px;
}

.EditCommentForm textarea.TextBox{
    height: 36px;
    min-height: 36px;
    resize: none;
}
.CommentForm textarea.TextBox{
    height: 102px;
    min-height: 102px;
    resize: none;
}

.DiscussionForm label{
    display: block;
    font-size: 12px;
    font-weight: 400;
}

/* =================================================================== Popups */

div.Popup .Border {
  max-width: none;
  background-color: transparent;
}

body.Post div.Popup .Border {
  max-width: none;
}

div.Popup .Body {
  position: relative;
  padding: 0;
  overflow: hidden;
}

div.Popup .Body > .Buttons {
    padding: 0 20px 20px;
    text-align: center;
}

div.Popup .Content form,
div.Popup .Content p{
    box-sizing: border-box;
}

/*
div.Popup .Content > h1,
div.Popup .Content .SmallPopup > h2,
div.Popup .Content .FormTitleWrapper h1,
body.Entry h1{
    margin: 0 0 16px 0;
    padding: 0 !important;
}
*/

#Form_User_Register,
#Form_User_SignIn,
#Form_User_Password{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

div.Popup .Footer a.Close{
    top: 0;
    right: 0;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    height: 36px;
    text-align: center;
}

#Form_User_Register ul li,
#Form_User_SignIn ul li,
body.Profile.EditMode form ul li,
div.Popup form ul li {
	margin: 0 0 15px 0;
}
#Form_User_Register ul li label,
#Form_User_SignIn ul li label,
body.Profile.EditMode form ul li label,
div.Popup form ul li label {
	margin: 0;
    padding: 0;
    font-weight: 400;
}
#Form_User_Register ul li label small,
#Form_User_Register ul li label small a {
	font-size: 11px;
}

div.Popup p {
	padding: 0;
}

#Form_User_SignIn .Buttons .CheckBoxLabel{
    margin: 0;
    font-size: 12px;
}

#Form_User_SignIn .CreateAccount,
div.Popup .Content .CreateAccount{
    margin: 10px 0 0 0;
}
.CreateAccount,
.CreateAccount a{
    font-size: 12px;
}
body.Entry form ul li label.CheckBoxLabel,
body.Entry form ul li label.RadioLabel{
    font-size: 14px;
}

#Form_User_SignIn .Buttons,
#Form_User_Register .Buttons,
body.Profile.password .Buttons
#Form_SignIn .Buttons{
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: right;
}

body.Profile.password form > div{
    max-width: 300px;
    width: 300px;
}
body.Profile.password form input[type=password]{
    width: 100%;
}

#Form_User_SignIn,
#Form_User_Password{
    max-width: 360px;
    width: 360px;
}
@media only screen and (max-width : 400px){
    #Form_User_SignIn,
    #Form_User_Password{
        max-width: 300px;
        width: 300px;
    }
}

#Form_User_Password #Form_Email1,
#Form_User_SignIn #Form_Email{
    width: 100%;
    max-width: none;
}
#Form_User_SignIn input.Password,
.SignInPopup input.Password {
	width: 100% !important;
    max-width: none !important;
    height: 36px;
}
a.ForgotPassword{
    margin: 0 0 0 10px;
    float: right;
    line-height: 36px;
    font-size: 12px;
}
#Form_User_Password li{
    overflow: hidden;
}
#Form_User_Password a.ForgotPassword{
    display: block;
    float: right;
    margin-left: 0;
}
#Form_Requestanewpassword{
    float: right;
}

#Form_User_Register .Gloss{
    margin: 0 0 3px 0;
    line-height: 1;
}

.PasswordStrength{
    margin: 2px 0 0 0;
    padding: 0;
    width: 100% !important;
    height: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.PasswordStrength .StrengthText{
    margin: 0;
}

/* ================================ Vanilla ================================= */

/* ======================================= Category & Discussions Table Views */

.DataTable td.DiscussionName:first-child,
.DataTable td.CategoryName:first-child{
    padding-left: 20px;
}
.DataTable td.OptionsColumn {
    position: relative;
    padding-left: 5px;
    padding-right: 0;
    width: 20px;
}

.DataTable td .Options {
    right: 0;
	z-index: 100;
}

.DataTable td.BlockColumn,
.DataTable td.BigCount{
    vertical-align: middle;
    font-weight: 400;
}
.DataTable .BlockColumn{
    width: auto;
}

.DataTable .Title {
    display: block;
}

.CategoryTable .CategoryName h3 a{
    font-size: inherit !important;
}

.CategoryTable .Depth2 .CategoryName { padding-left: 40px !important; }
.CategoryTable .Depth3 .CategoryName { padding-left: 60px !important; }
.CategoryTable .Depth4 .CategoryName { padding-left: 80px !important; }
.CategoryTable .Depth5 .CategoryName { padding-left: 100px !important; }
.CategoryTable .Depth6 .CategoryName { padding-left: 120px !important; }
.CategoryTable .Depth7 .CategoryName { padding-left: 140px !important; }
.CategoryTable .Depth8 .CategoryName { padding-left: 160px !important; }
.CategoryTable .Depth9 .CategoryName { padding-left: 180px !important; }
.CategoryTable .Depth10 .CategoryName { padding-left: 200px !important; }
.CategoryTable .Depth11 .CategoryName { padding-left: 220px !important; }
.CategoryTable .Depth12 .CategoryName { padding-left: 240px !important; }

/* ======================================= Category Mixed View */



/* ======================================= Blocks */

.BlockTitle{
    font-weight: 400;
    padding: 0;
    line-height: 1;
}

blockquote,
.Preview .Message blockquote,
.MessageList .Message blockquote{
    padding: 10px;
    border-left: 3px solid #CCCCCC;
    background-color: #F1F1F1;
    color: #555555;
}

/* ============================================================ Entry Screens */

.Sprite16 {
    background-image: url(styles/system/img/plugins/sprites/sprites_off-black-transparent.png);
}

.SpDashboard,
.SpOptions,
.SpCog { background-position: 0 -84px; }
.SpSettings { background-position: -16px -84px; }
.SpNotifications,
.SpGlobe { background-position: -32px -84px; }
.SpSignOut,
.SpExit { background-position: -48px -84px; }
.SpMarker { background-position: -64px -84px; }
.SpDocuments { background-position: -80px -84px; }
.SpInbox,
.SpEnvelope { background-position: 0 -100px; }
.SpInmail { background-position: -16px -100px; }
.SpRoundBubble { background-position: -32px -100px; }
.SpSquareBubble { background-position: -48px -100px; }
.SpRoundBubbles { background-position: -64px -100px; }
.SpSquareBubbles { background-position: -80px -100px; }
.SpTag { background-position: 0 -116px; }
.SpWrite { background-position: -16px -116px; }
.SpLock { background-position: -32px -116px; }
.SpRoundAlert { background-position: -48px -116px; }
.SpTriangleAlert { background-position: -64px -116px; }
.SpBookmarks,
.SpStar { background-position: -80px -116px; }
.SpSearch { background-position: 0 -132px; }
.SpTrash { background-position: -16px -132px; }
.SpUser { background-position: -32px -132px; }
.SpRefresh { background-position: -48px -132px; }
.SpPencil { background-position: -64px -132px; }
.SpPlus { background-position: -80px -132px; }

.PanelInfo li a .Sprite{
    margin-right: 10px;
}

.SpPopularDiscussions,
.SpDiscussions,
.FilterMenu .SpBookmarks,
.SpMyDiscussions,
.SpMyDrafts,
.SpActivity,
.SpMod,
.SpDashboard,
.SpPreferences,
.SpNotifications,
.SpComments,
.SpEdit,
.SpProfile,
.SpPassword,
.SpPicture,
.SpThumbnail,
.MenuItems .SpEditProfile,
.SpApplicants,
.SpSpam,
.SpSignOut,
.SpBan,
.SpDelete,
.SpBestOf{
    width: 24px;
    height: 24px;
}
.SpMessage,
.SpEditProfile{
    width: 20px;
    height: 20px;
}

.SpPopularDiscussions{ background-position: -264px 0 !important; }
.SpDiscussions{ background-position: -240px -72px !important; }
.FilterMenu .SpBookmarks{ background-position: -24px -48px !important; }
.SpMyDiscussions{ background-position: -336px -24px !important; }
.SpMyDrafts{ background-position: -264px -72px !important; }
.SpActivity{ background-position: -216px -96px !important; }
.SpMod{ background-position: -288px -48px !important; }
.SpDashboard{ background-position: -192px -48px !important; }
.SpPreferences{ background-position: -264px -120px !important; }
.Sprite16.SpNotifications{ width: 16px; height: 16px; background-position: -96px -100px; }
.SpComments{ background-position: -168px -72px !important; }
.SpEdit, .SpProfile{ background-position: -144px -48px !important; }
.SpPassword{ background-position: -312px -96px !important; }
.SpPicture{ background-position: -264px -24px !important; }
.SpThumbnail{ background-position: -240px -96px !important; }
.MenuItems .SpEditProfile{ background-position: -144px -48px !important; }
.SpApplicants{ background-position: -288px -120px !important; }
.SpSpam{ background-position: -312px -120px !important; }
.SpSignOut{ background-position: -336px -120px !important; }
.SpBan{ background-position: -312px -24px !important; }
.SpDelete{ background-position: -336px 0 !important; }
.SpMessage{ background-position: -74px -146px !important; }
.SpBestOf{ background-position: -94px -144px !important; }

.MenuItems .Sprite{
    margin: 0 10px 0 0;
}
.NavButton > .Sprite{
    margin: 0 3px 0 0;
    vertical-align: text-bottom;
}
.NavButton.Handle{
    margin: 0;
    padding: 0 !important;
}

/* ============================================================ Regarding */

.ProfilePhoto {
   height: 55px;
   width: 55px;
}

.Handle > .SpEditProfile,
.NavButton > .SpEditProfile{
    width: 20px;
    height: 20px;
    background-position: -242px -26px !important;
    vertical-align: text-bottom;
}

.NavButton.Handle .Sprite,
.Button.Handle .Sprite{
    width: 20px;
    height: 20px;
    background-position: -50px -147px;
    vertical-align: text-bottom;
}

/* Overrides */
.Hidden,
.CommentForm .WriteButton.Hidden{
   display: none;
}

/* ================================================================= Plugins */

/* VOTING PLUGIN */

.StatBoxContainer {
    margin: 0 !important;
    float: right;
}
.StatBox {
    display: block;
	padding: 13px 10px 13px 25px !important;
	float: right;
	text-align: center;
	font-weight: 400 !important;
	font-size: 14px !important;
	line-height: 16px !important;
    border-radius: 0;
    height: auto;
}
.StatBox,
.StatBox a{
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    font-weight: 400;
}
.StatBox a:hover{
    text-shadow: 0 3px 3px rgba(255, 255, 255, 0.5);
}

.Item > .StatBox{
    display: none !important;
}

.VotesBox,
.FollowsBox,
.ViewsBox,
.AnswersBox,
.HasAnswersBox{
    background-image: url(styles/system/img/plugins/voting/statbox.png);
    background-attachment: scroll;
    background-repeat: no-repeat !important;
}
.VotesBox{
    margin-left: 10px !important;
    background-position: 0 -90px !important;
}
.FollowsBox{
    background-position: 0 6px !important
}
.ViewsBox{
    background-position: 0 -27px !important;
}
.AnswersBox,
.HasAnswersBox{
    background-position: 0 -59px !important;
}
.DiscussionsBox{
    background-position: 0 -123px !important;
}

.Voter{
    display: block;
    margin: 8px auto;
    width: 30px !important;
    line-height: 0;
    overflow: hidden;
}
span.Voter a{
    display: block !important;
    margin: 0 !important;
    width: 30px !important;
    padding: 4px 0 !important;
    background: transparent !important;
    height: 6px !important;
    line-height: 6px !important;
    vertical-align: top !important;
    text-align: center !Important;
}
span.Voter a:hover{
    background: transparent !important;
}
span.Voter span{
    display: block !important;
    width: 30px !important;
    min-width: 30px !important;
    background: transparent !important;
    color: #eee;
    font-size: 12px !important;
    line-height: 18px !important;
    padding: 0 !important;
    vertical-align: top !important;
    text-align: center !important;
}
.VoteUp {
}
.VoteDown {
}
i.ArrowSprite{
    background: url(styles/system/img/plugins/voting/arrow_sprite.png) no-repeat scroll left center transparent !important;
    line-height: 6px !important;
    height: 6px !important;
    vertical-align: top !important;
}
i.SpriteUp {
    background-position: left top !important;
}
i.SpriteDown {
    background-position: left bottom !important;
}
a:hover i.SpriteUp {
    background-position: right top !important;
}
a:hover i.SpriteDown {
    background-position: right bottom !important;
}

.VotingSort strong{
    margin-bottom: 0 !important;
    padding: 0 !important;
    float: left;
}
.VotingSort{
    text-align: right;
    font-size: 11px !important;
    text-shadow: none !important;
    background-color: transparent;
    border: none;
}
.VotingSort a{
    display: inline-block;
    margin-left: 5px;
    padding: 5px 10px !important;
    line-height: 18px;
}
.VotingSort .Active{
    font-weight: normal;
}

/* TAGGING */
.MessageList.Discussion .Item-Body > .InlineTags.Meta{
    display: none;
}
.MessageList .Meta .InlineTags{
    margin: 0;
    line-height: 1;
}
.MessageList .InlineTags ul li a{
    display: inline;
}
.TagCloud{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.TagCloud li{
    margin: 5px 5px 5px 0;
    padding: 3px 5px;
}
.TagCloud .Count{
    font-size: 12px;
}
ul.token-input-list {
    padding: 2px 10px !important;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
ul.token-input-list li input{
    padding:3px 5px !important;
    border: none !important;
    background-color: transparent !important;
}
ul.token-input-list li.token-input-token{
    margin: 3px 5px !important;
}

div.token-input-dropdown {
    border-top: 0 !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
div.token-input-dropdown p {
    color: inherit;
}
div.token-input-dropdown ul li:last-child{
    border-bottom: none !important;
}
li.token-input-token span{
    color: inherit;
}

/* CLEDITOR */
.cleditorMain,
.cleditorMain textarea{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.cleditorMain iframe,
.cleditorMain textarea{
    padding: 7px 10px !important;
    border: none !important;
}
.EditCommentForm .cleditorMain iframe,
.EditCommentForm .cleditorMain textarea{
    height: 36px;
    min-height: 0;
}
#DiscussionForm .cleditorMain iframe,
#DiscussionForm .cleditorMain textarea,
.CommentForm .cleditorMain iframe,
.CommentForm .cleditorMain textarea{
    height: 102px;
    min-height: 102px;
}


#DiscussionForm .cleditorMain,
#ConversationForm .cleditorMain{
    border-radius: 0;
}

/* SYNTAX HIGHLIGHTER PLUGIN */
.syntaxhighlighter{
    padding: 10px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
  font-size: 14px !important;
}
.syntaxhighlighter .line {
  white-space: pre-wrap !important;
}
.syntaxhighlighter code,
.syntaxhighlighter table td.gutter .line,
.syntaxhighlighter table td.code .line {
  line-height: 22px !important;
}

/* YAGA */
.EarnedThisBadge .PhotoWrap,
.RecentRecipients .PhotoWrap{
    display: inline-block;
}
.ProfilePhotoMedium{
    margin: 0;
}

#yaga_badges_index #PageBody{
    padding-top: 0;
}
.DataList .Item.ItemBadge{
    margin: 16px 0;
}

.Badge-Details{
    overflow: hidden;
}
.Badge-Details img{
    float: left;
    margin: 0 20px 40px 0;
}
.Badge-Details h1{
    padding-bottom: 0;
}
.Badge-Details p{
    margin: 0;
}
.Badge-Earned .EarnedThisBadge{
    overflow: hidden;
}
.Badge-Earned .PhotoWrap{
    float: left;
    margin: 0 20px 20px 0;
}
.Badge-Earned a{
    display: block;
}
.Badge-Earned h2{
    padding-left: 0;
}
#Panel .Leaderboard .PhotoWrap{
    display: inline-block;
    margin: 8px 16px 8px 30px;
    padding: 0;
    float: left;
}
#Panel .Leaderboard li{
    overflow: hidden;
}
#Panel .Leaderboard .ProfilePhoto.ProfilePhotoMedium{
    width: 40px;
    height: 40px;
}
#Panel .Leaderboard a{
    padding-left: 0;
    padding-bottom: 0;
}
#Panel .Leaderboard .Count{
    background-color: transparent;
}

.UserReactionWrap{
    margin-top: 16px;
}
.UserReactionWrap .ProfilePhoto.ProfilePhotoSmall{
    width: 32px;
    height: 32px;
}

.Yaga.ReactionsWrap h2{
    padding: 20px 0 0 0;
}
.Yaga .CountItemWrap{
    width: auto;
    min-width: 75px;
}
.About .Badges{
    display: none;
}

.ItemBadge .MItem{
    white-space: normal;
}
.ReactButton{
    vertical-align: middle;
    line-height: 14px;
}

/* ADVANCED EDITOR */
.editor-dropdown-link .editor-insert-dialog{
    padding: 5px !important;
}
.editor-help-text{
    display: none !important;
}
.editor-upload-progress{
    border: none !important;
}
.editor-file-preview{
    height: 42px;
}
.editor-file-removed{
    width: 42px;
    height: 42px;
}
.editor-file-preview .file-preview{
    width: 40px;
    height: 40px;
}
.editor-upload-readonly .file-data{
    width: 168px;
}
.editor-file-preview .file-data{
    width: 148px;
}
.editor-file-preview .editor-file-remove::after{
    line-height: 40px;
}
.editor-file-preview .editor-file-remove{
    height: 40px;
}
.editor-file-preview .editor-file-remove:hover::after{
    color: #777;
    font-weight: normal;
}

/* ============================================================ Style Editor */

/* EXTRA STYLE */
#extra_style_container{
    position: fixed;
    top: 100px;
    left: -273px;
    padding: 20px;
    background-color: #fff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    width: 230px;
    text-align: left;
    z-index: 10000;
}
#extra_style_container.opened{
    left: 0;
}

#extra_style_toggle{
    position: absolute;
    top: 22px;
    right: -30px;
    width: 30px;
    height: 30px;
    background: #ffffff url(images/preview-style-sprite.png) scroll no-repeat center -20px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    z-index: 9;
}
#extra_style_toggle:hover{
    background: #b9bfc9 url(images/preview-style-sprite.png) scroll no-repeat center -50px;
}
#extra_style_toggle.focus{
    background: #4BA3E9 url(images/preview-style-sprite.png) scroll no-repeat center -50px;
}

#remove_tag{
    display: inline-block;
    clear: both;
    float: left;
    margin: 10px 0 0 10px;
    line-height: 1px;
    background-color: #EFF2F7;
    border: 1px solid #CCD5E4;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: default;
    overflow: hidden;

}
#remove_tag span{
    display: inline-block;
    padding: 3px 3px 3px 5px;
    height: 10px;
    line-height: 10px;
    color: #000000;
}
#remove_tag a{
    display: inline-block;
    margin-top: 2px;
    width: 10px;
    height: 10px;
    line-height: 10px;
    font-size: 12px;
    vertical-align: top;
}

#extra_style_container hr{
    display: block !important;
    border-top: none !important;
    border-bottom: 1px solid #e1e1e1 !important;
    border-left: none !important;
    border-right: none !important;
    line-height: 1px;
}

#extra_style_container h6{
    margin: 10px 0 3px;
    font-size: 9px;
    line-height: 12px;
    color: #777;
}
#extra_style_container h3 span{
    display: inline-block;
    margin-left: 10px;
    padding: 0 5px;
    line-height: 20px;
}

.selectHolder,
#extra_style_options .selectHolder{
    position: relative;
    top: 0;
    left: 0;
    float: left;
    display: inline-block;
    border: 2px solid #dcdfe4;
	height: 24px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #fff url(images/select.png) no-repeat right 0;
}
.selectHolder:hover,
#extra_style_options .selectHolder:hover{
    border: 2px solid #b9bfc9;
    background: #fff url(images/select.png) no-repeat right -24px;
}
.selectHolder.focus,
#extra_style_options .selectHolder.focus{
    border: 2px solid #4BA3E9;
    background: #fff url(images/select.png) no-repeat right -48px;
}
#extra_style,
#extra_style_options select{
    position: relative;
    top: -2px;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ff0000;
    padding: 3px 10px;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter:alpha(opacity=0);
    z-index: 3;
}
#extra_style, option,
#extra_style_options select option{
    padding: 2px 5px;
    border: none;
}
.selectHolder span,
#extra_style_options .selectHolder span{
    position: absolute;
    top: 0px;
    left: 10px;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
    color: #555;
    z-index: 2;
}
/*
#style_info_holder{
}
*/
#style_info_description{
    margin: 10px 0;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    color: #555;
}
#style_info_version,
#style_info_last_update,
#style_info_author,
#style_info_author_email,
#style_info_author_url,
#style_info_tags{
    margin-left: 5px;
    margin-top: 5px;
    padding-left: 17px;
    font-size: 11px;
    line-height: 14px;
    color: #555 !important;
    text-align: left;
}
#style_info_author_email a,
#style_info_author_url a,
#style_info_tags a{
    font-size: 11px !important;
    line-height: 14px !important;
    color: #555 !important;
    word-break: break-all !important;
}
#style_info_author_email a:hover,
#style_info_author_url a:hover,
#style_info_tags a:hover{
    color: #0F8CDE !important;
}
#style_info_version{
    background: url('images/preview-style-sprite.png') no-repeat 0 -80px;
}
#style_info_last_update{
    background: url('images/preview-style-sprite.png') no-repeat 0 -94px;
}
#style_info_author{
    background: url('images/preview-style-sprite.png') no-repeat 0 -108px;
}
#style_info_author_email{
    background: url('images/preview-style-sprite.png') no-repeat 0 -122px;
}
#style_info_author_url{
    background: url('images/preview-style-sprite.png') no-repeat 0 -136px;
}
#style_info_tags{
    background: url('images/preview-style-sprite.png') no-repeat 0 -150px;
}

.mui-paper.mui-z-depth-1 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
}
.mui-paper.mui-z-depth-1 > .mui-z-depth-bottom {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
}
.mui-paper.mui-z-depth-2 {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23);
}
.mui-paper.mui-z-depth-2 > .mui-z-depth-bottom {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
}
.mui-paper.mui-z-depth-3 {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23);
}
.mui-paper.mui-z-depth-3 > .mui-z-depth-bottom {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19);
}
.mui-paper.mui-z-depth-4 {
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.22);
}
.mui-paper.mui-z-depth-4 > .mui-z-depth-bottom {
    box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25);
}
.mui-paper.mui-z-depth-5 {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22);
}
.mui-paper.mui-z-depth-5 > .mui-z-depth-bottom {
    box-shadow: 0 19px 60px rgba(0, 0, 0, 0.3);
}

/* FOOTER */
#Foot{
    overflow: hidden;
}
#Foot h3{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
}

#Foot li{
    margin: 3px 0;
}

#SubFoot{
    clear: both;
    overflow: hidden;
}
#social li{
    display: inline-block;
    height: 24px;
}
#social a{
    display: inline-block;
    height: 24px;
    -moz-transition: all 200ms linear 0s;
    -webkit-transition: all 200ms linear 0s;
    -o-transition: all 200ms linear 0s;
    transition: all 200ms linear 0s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow:hidden;
}
#social a:hover{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}


.responsive_img{
    display:block;
    max-width:100% !important;
    height:auto;
}

.row{
    margin: 0-16px;
}

.s1, .s1_2,.s1_3,.s2_3,.s1_4,.s1_5,.s2_5,
.m1, .m1_2,.m1_3,.m2_3,.m1_4,.m1_5,.m2_5,
.l1, .l1_2,.l1_3,.l2_3,.l1_4,.l1_5,.l2_5{
    float: left;
    margin: 15px 0;
    padding: 0 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* s - SMALL */
.s1_2:nth-child(2n+1){
    clear: left;
}

.s1{
    width: 100%;
}
.s1_2{
    width: 50%;
}
.s1_3{
    width: 33.3%;
}
.s2_3{
    width: 66.6%;
}
.s1_4{
    width: 25%;
}
.s1_5{
    width: 20%;
}
.s2_5{
    width: 40%;
}

/* m - MEDIUM */
@media only screen and (min-width : 768px){

    .s1_2:nth-child(2n+1){
        clear: none;
    }

    .m1{
        width: 100%;
    }
    .m1_2{
        width: 50%;
    }
    .m1_3{
        width: 33.3%;
    }
    .m2_3{
        width: 66.6%;
    }
    .m1_4{
        width: 25%;
    }
    .m1_5{
        width: 20%;
    }
    .m2_5{
        width: 40%;
    }
}

/* l - LARGE */
@media only screen and (min-width : 1280px){
    .l1{
        width: 100%;
    }
    .l1_2{
        width: 50%;
    }
    .l1_3{
        width: 33.3%;
    }
    .l2_3{
        width: 66.6%;
    }
    .l1_4{
        width: 25%;
    }
    .l1_5{
        width: 20%;
    }
    .l2_5{
        width: 40%;
    }
}