@import url("./bootstrap/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.Voter{
    
}
.Voter *, ::after, ::before {
    box-sizing:content-box
}

#Body > #Content{
    float: left !important;
}

#Body > #Panel{
    float: right !important;
}

.ButtonGroup.Multi > .NavButton:first-child, .ButtonGroup.Multi > .Button:first-child {
    
    padding: 13px;
}
.ButtonGroup.Multi > .NavButton.Handle, .ButtonGroup.Multi > .Button.Handle {
    
    font-size: 26px;
}
#TopPosters .PanelInfo li{
   display: flex;
}
#TopPosters .PanelInfo a{
    padding-top: 0;
    width: 150px;
}

#Footer1{

}
.sail_footer{
    font-family: 'Open Sans',serif;
/*  height: 328px;*/
  background-color: #324057;
    
}
.sail_footer .sail-footer-content{
    padding-top: 40px;
    padding-bottom: 84px;
}
.sail_footer .sail-footer-content .footer-heading{
    padding-bottom: 15.1px;

}
.sail_footer .sail-footer-content p{
 
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.sail_footer .sail-footer-content .sail-copyright {
    font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.sail_footer .sail-footer-content .footer-heading-2{
  padding-top: 18px;
  font-size: 16px;
  font-weight: 600;
  line-height: 2;
  color: #ffffff;
}
#Footer1 a {
  color: #8492a6;
}
#Footer1 a:hover{
  color: #fff;
}
.sail_footer .sail-footer-content li a{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
 color: #8492a6;
  text-decoration: none;
  padding-bottom: 17px;
  display: inline-block;
}
.sail_footer .sail-footer-content li a:hover{
    
/*  color: yellow;*/
  
}
.sail_footer .sail-footer-content .social-icons a{
     object-fit: contain;
    
    margin-right: 24px;
}
.top-bar{
  background-color: #324057;
  text-decoration: none;
}
 .top-bar a{
    display:inline-block;
    padding-top: 7px;
    padding-bottom: 9px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #d3dce6;
     text-decoration: none;
  }
.topnav-1 {
  padding-top: 24px; }
  .topnav-1 .button {
    margin-left: 16px;
    height: 19px;
    padding: 9px 16px 12px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border: solid 1px transparent;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 180ms;
    transition-delay: 20ms;
    background-image: linear-gradient(to bottom, #7b7ff0, #7974e3);
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff; }

.top-bar {
  background-color: #324057;
  text-decoration: none; }
  .top-bar a {
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 9px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #d3dce6; }

    .top-bar a:hover {
        text-decoration: underline;
      color: #FFF; }

.topnav {
  width: inherit; }
  .topnav a {
    padding-right: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #8492a6;
    text-decoration: none; }
    .topnav a:hover {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 1.5;
      text-align: left;
      color: #324057; }
  .topnav .social-icons {
    float: right;
    font-size: 10px; }
    .topnav .social-icons a {
      margin-right: 20px; }
    .topnav .social-icons .icn-facebook {
      background-image: url("images/icn-facebook.png");
      background-repeat: no-repeat; }
      .topnav .social-icons .icn-facebook:hover {
        background-image: url("images/icn-facebook-hover.png"); }
    .topnav .social-icons .icn-twitter {
      background-image: url("images/icn-twitter.png");
      background-repeat: no-repeat; }
      .topnav .social-icons .icn-twitter:hover {
        background-image: url("images/icn-twitter-hover.png"); }
    .topnav .social-icons .icn-instagram {
      background-image: url("images/icn-instagram.png");
      background-repeat: no-repeat; }
      .topnav .social-icons .icn-instagram:hover {
        background-image: url("images/icn-instagram-hover.png"); }
  .topnav .icon {
    display: none; }
.arrow {
  font-size: 9px;
  padding-left: 4px; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 2px;
  z-index: 100;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 178px; }
  .dropdown-content div {
    width: 178px;
    height: 40px; }
    .dropdown-content div a {
      position: inherit;
      margin-top: 9px;
      display: inline-block;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      text-align: left;
      color: #8492a6; }
      .dropdown-content div a:hover {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        text-align: left;
        color: #324057;
        background-color: #f5f7fa; }
      .dropdown-content div a span {
        margin-left: 15px; }

.dropdown:hover .dropdown-content {
  display: block; }

@media screen and (max-width: 991px) {
  .responsive {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 500;
    height: 100vh;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #324057; }
    .responsive.active {
      animation: scale-display .6s 1 forwards;
      -webkit-animation: scale-display .6s 1 forwards; }
    .responsive.out {
      animation: scale-display-reverse .6s 1 forwards;
      -webkit-animation: scale-display-reverse .6s 1 forwards; }
    .responsive .sidebar-h-menu {
      display: block; }

  .responsive .icon {
    position: absolute;
    right: 0;
    top: 0; }

  ::-webkit-scrollbar {
    width: 12px;
    /* for vertical scrollbars */
    height: 12px;
    /* for horizontal scrollbars */ }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0); }

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0); }

  .sidebar-h-menu {
    display: none;
    position: relative;
    z-index: 13; }
    .sidebar-h-menu .sidebar-menu-navigation {
      padding-top: 25px;
      overflow-y: scroll; }
      .sidebar-h-menu .sidebar-menu-navigation a {
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        line-height: 1;
        text-align: center;
        color: #ffffff;
        text-decoration: none; }
    .sidebar-h-menu .sidebar-close-btn {
      font-family: FontAwesome;
      font-size: 24px;
      line-height: 1;
      text-align: left;
      color: #ffffff;
      padding: 19px 24px 0 0; } }
@media screen and (min-width: 700px) {
  .responsive {
    display: none; } }
@-webkit-keyframes scale-display {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@keyframes scale-display {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@-webkit-keyframes scale-display-reverse {
  0% {
    width: 100%; }
  100% {
    width: 0%; } }
@keyframes scale-display-reverse {
  0% {
    width: 100%; }
  100% {
    width: 0%; } }
/* head part */


#HeadWrapper {
    margin: 0;
    padding: 0;
    background-color: #38B2EA;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12);
}
.MeBox {
    background-color: #359ADE;
}
.sail-footer-mobile{
    padding-top: 45.5px;
}
.sail-footer-mobile img{
    margin-bottom: 25.2px;
}
.sail-footer-mobile .social-icons{
    margin-top: 9px;
    margin-bottom: 15px;
}
.sail-footer-mobile .social-icons i{
  font-size: 20px;
  object-fit: contain;
}
.sail-footer-mobile .sail-copyright{
    margin-top: 9px;
    padding-bottom: 36px;
    font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.2;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

@media only screen and (max-width: 767px) {
    .sail-footer-content{
        display: none;
    }
    .sail-footer-mobile{
        display:block;
    }
}
@media only screen and (min-width: 767px) {
    .sail-footer-content{
        display: block;
    }
    .sail-footer-mobile{
        display:none;
    }
}
span.cannabis-journey{
        
        font-weight: bold;
    font-style: italic;
    }

@media only screen and (max-width: 1151px) {
    span.cannabis-journey{
        
        display: none;
    }
    
}

@media only screen and (max-width: 991px) {
    div.header{
        display: none;
    }
  
    div.header-mobile{
        display: block;
    }
    
}
.mobile-menu-btn{
margin-top: 17px;
    }

@media only screen and (min-width: 991px) {
    div.header{
        display: block;
    }
    div.header-mobile{
        display: none;
    }
    
     
    
}

@media only screen and (max-width: 770px) {
    
    .topnav .social-icons{
        
    margin-right: -25px;

    }
}
@media only screen and (max-width: 989px) {
    .ipad-vr-copyright{
        display: block;
    }
    .desktop-vr-copyright{
        display: none;
    }
}
@media only screen and (min-width: 989px) {
    .ipad-vr-copyright{
        display: none;
    }
    .desktop-vr-copyright{
        display: block;
    }
}

@media only screen and (max-width: 961px) {
  .Top .top-links{
    display: none;
    }  }

 @media only screen and (max-width: 991px) {
  .main-header .topnav-1 .icons{
    display: none;
}  
   
    
}

 @media only screen and (max-width: 767px) {
    .ipad-login a{
display: none;
     }
    
}
 @media only screen and (min-width: 768px) {
    .sidebar-menu-navigation .button{
display: none;
     }
    
}


   