/*
admin.css overwrites
*/

body {
 background: #dbf3fc;
}

#Body{
    background-color: #F5F5F5;
}
#Content{
    background-color: #FFFFFF;
}

#Content h1,
#Content h3 {
	background: #f5f5f5;
	border-top: none;
}

input.SmallInput:focus,
input.InputBox:focus,
textarea.TextBox:focus {
    background: #FFF;
	color: #333;
	border: 1px solid #4BA3E9;
}

#Popup input.WideInput {
	width: 465px;
}
a.Button,
input.Button,
input.SmallButton {
    background: none repeat scroll 0 0 #4BA3E9;
    border: 0 none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
	font-weight:normal;
    margin: 0 0 0 20px;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
a.Button:hover,
input.Button:hover{
    background: none repeat scroll 0 0 #5eb1f4;
    border: none;
    color: #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-shadow: none;
}
a.SmallButton:focus,
a.Button:focus,
input.Button:focus,
input.SmallButton:focus {
	background: #81CFF6;
	color: #FFF;
	text-shadow: none;
}
input.SmallButton,
a.SmallButton {
    background: none repeat scroll 0 0 #4BA3E9;
    border: 0 none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
	font-weight:normal;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #006A91;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
input.SmallButton:hover,
a.SmallButton:hover,
.SmallBlueButton:hover {
    background: none repeat scroll 0 0 #5eb1f4;
    border: none;
    color: #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 0 #006A91;
}
input.ExtraSmallButton,
a.ExtraSmallButton {
    background: none repeat scroll 0 0 #4BA3E9;
    border: 0 none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
	font-weight:normal;
    margin: 0 0 0 10px;
    padding: 3px 7px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #006A91;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
input.ExtraSmallButton:hover,
a.ExtraSmallButton:hover{
    background: none repeat scroll 0 0 #5eb1f4;
    border: none;
    color: #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 0 #006A91;
}

div.Tabs > ul{
    padding: 0 !important;
}
div.Tabs li a {
   font-size: 13px;
   color: #000 !important;
   background: #fff !important;
   border-bottom: 1px solid #8bc1de;
   font-weight: 400 !important;
}
div.Tabs li:hover a {
   color: #1e79a7 !important;
   background: #F5F5F5 !important;
}
div.Tabs li.Active a {
   color: #1e79a7 !important;
   background: #F5F5F5 !important;
   border-bottom: 1px solid #F5F5F5 !important;
   font-weight: 700 !important;
}
div.Tabs li a span {
   line-height: 14px !important;
   background-color: #555 !important;
}
div.Tabs li:hover a span {
   background-color: #1e79a7 !important;
}
div.Tabs li.Active a span {
   background-color: #1e79a7 !important;
}

form ul li span {
	display: inline-block;
}

#dashboard_settings_plugins table.AltRows tr th{
    min-width: 160px;
}

#Head {
	background: #4BA3E9;
	border-bottom: 1px solid #3590d9;
}
#Head h1 a {
	/* text-shadow:0 1px 0 rgba(0,0,0,0.3); */
	text-shadow: none;
    font-weight: 400;
}
#Head div.User a,
#Head h1 a span {
    margin: 0 0 0 5px;
    background: none repeat scroll 0 0 #1e78c0;
    border: 0 none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 12px;
    line-height: 14px;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #006A91;

}
#Head div.User a.Profile,
#Head div.User a.Profile:hover{
	background: none repeat scroll 0 0 #1e78c0;
	padding: 7px 10px;
}
#Head div.User a:hover,
#Head div.User a.Profile:hover {
    background: none repeat scroll 0 0 #1C6DB0;
}
#Head h1 a span,
#Head h1 a span:hover {
    display: none;
}

.CasualMessage {
   padding: 3px 5px;
   color: #555;
   background-color: #FFFFFF;
   border: 1px solid #ccc;
}
.InfoMessage {
   padding: 3px 5px;
   color: #555;
   background-color: #e5ffcb;
   border: 1px solid #8ae32d;
}
.AlertMessage {
   padding: 3px 5px;
   color: #555;
   background-color: #FFEF9E;
   border: 1px solid #FFDC2E;
}
.WarningMessage {
   padding: 3px 5px;
   color: #555;
   background-color: #ffebe9;
   border: 1px solid #FFCCC9;
}

/* ======================================================== Panels / Sidebars */
#Panel {
	border-top: none;
	background: #f5f5f5;
}
#Panel > div.Box:last-child {
    /* border-bottom: none; */
}
#Panel div.Box h4 { background: url('images/dashboard-sprites.png') 10px -137px no-repeat; }
#Panel div.Dashboard h4 { background-position: 10px 14px; }
#Panel div.Appearance h4 { background-position: 10px -1187px; }
#Panel div.Users h4 { background-position: 10px -287px; }
#Panel div.Moderation h4 { background-position: 10px -736px; }
#Panel div.Forum h4 { background-position: 10px -437px; }
#Panel div.Reputation h4 { background-position: 10px -540px; }
#Panel div.Addons h4 { background-position: 10px -232px; }
#Panel div.SiteSettings h4 { background-position: 10px -86px; }
#Panel div.Import h4 { background-position: 10px -1136px; }
#Panel div.Pages h4 { background-position: 10px -1244px; }
#Panel div.Support h4 { background-position: 10px -1298px; }
#Panel div.Box h4 {
    padding: 10px 10px 10px 36px;
}
#Panel div.Box.Active h4 {
    margin-top: -1px;
    padding-top: 11px;
    color: #fff;
    background-color: #7BD023;
    text-shadow: none;
}
#Panel div.Box.Active h4 a {
   color: #fff;
}
ul.PanelInfo li:hover {
    background-color: #dfffbe;
}
ul.PanelInfo li.Active {
   background: #cffda0;
}

/* =================================================================== Popups */
div.Popup div.Body {
    display: inline-block;
	padding: 0;
	max-width: none;
	background: #fff;
	border: 1px solid #01416b;
	box-shadow: 0px 0px 3px #01416b;
	-moz-box-shadow: 0px 0px 3px #01416b;
	-webkit-box-shadow: 0px 0px 3px #01416b;
}
div.Popup .Content > img{
    display: block;
}
div.Popup .Content .msg{
	padding: 10px;
}
div.Popup form{
    margin-bottom: 10px;
}
div.Popup h1,
div.Popup h2 {
    background-color: #4BA3E9;
    background-image: none;
	border-bottom: 1px solid #3590d9;
    line-height: 24px;
}
div.popup_save_as h2{
    text-indent: -9999px;
}
div.Popup .Footer.Confirm {
    margin: 0 10px 10px 10px;
}
a.Close {
	background: none;
    border: none;
}
a.Close span {
	display: block;
    text-align: center;
    color: #1E79A7;
}
a.Close span:hover {
    color: #FFFFFF;
}
#import_msg{
    padding: 10px;
    overflow: hidden;
}
#import_msg p{
    padding: 0;
}
#toggle_import{
    display: inline-block;
    float: right;
    margin-top: 10px;
}
#import_log{
    clear: both;
    padding: 15px;
    background-color: #eee;
}
#import_log h3{
    padding: 0;
}
#import_log p{
    padding: 0;
}
#import_log span.imported{
    color: #61AE24;
}
#import_log span.updated{
    color: #61AE24;
}
#import_log span.uptodate{
    color: #F18D05;
}
#import_log span.error{
    color: #ff0000;
}

/* =================================================================== Themes */
.CurrentTheme h4 span {
    font-weight: normal;
}
table tbody td.Info strong,
a.SmallButton {
    margin-bottom: 5px;
}
.CheckBoxGrid tbody th,
.CheckBoxGrid thead td,
.CheckBoxGrid thead td.Alt,
.CheckBoxGrid thead th,
.CheckBoxGrid thead th.Alt,
table thead th,
table thead td,
table.AltColumns thead th.Alt,
table.AltColumns thead td.Alt {
	background: #f5f5f5;
}

/* =================================================================== Footer */
#Foot {
    height: 48px;
	background: #4BA3E9;
}
#Foot .Version {
	color: #fff;
}

/* THEME OPTIONS */
#current_style_container{
    margin: 0 20px 20px;
    overflow: hidden;
}
#current_style_container label{
    display: block;
    font-weight: bold;
}
#current_style_info_holder{
    display: table-cell;
    margin: 22px 0 0 20px;
    float: left;
}
#current_style_container a.Button{
    display: inline-block;
    margin: 15px 0 0 0;
    clear: both;
    float: left;
}

.ajax_loader{
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
}

#styles_container > h3,
#layouts_container > h3{
    border-top: 1px solid #8bc1de;
}
#Form_Form .Tabs ul{
    padding: 0;
}
#style_info{
    padding: 20px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}
#extra_style_container{
    float: left;
    margin-right: 20px;
}
#import_extra_style{
    display: inline-block !important;
    float: left;
}
#edit_extra_style,
#export_extra_style,
.delete-custom-image{
    display: inline-block;
    float: left;
}
#edit_extra_style,
#export_extra_style,
.delete-custom-image{
    width: 28px;
    height: 28px;
    text-indent: -9999px;
}
#edit_extra_style{
    background: url(images/theme-options-sprite.png) scroll no-repeat 0 -210px;
}
#edit_extra_style:hover{
    background: url(images/theme-options-sprite.png) scroll no-repeat -28px -210px;
}
#export_extra_style{
    background: url(images/theme-options-sprite.png) scroll no-repeat 0 -182px;
}
#export_extra_style:hover{
    background: url(images/theme-options-sprite.png) scroll no-repeat -28px -182px;
}
.fileinput-button{
    background: url(images/theme-options-sprite.png) no-repeat scroll 0 -238px;
}
.fileinput-button:hover {
    background: url(images/theme-options-sprite.png) no-repeat scroll 0 -238px;
}
.delete-custom-image{
    background: url(images/theme-options-sprite.png) no-repeat scroll 0 -266px;
}
.delete-custom-image:hover{
    background: url(images/theme-options-sprite.png) no-repeat scroll -28px  -266px;
}
#import_extra_style .fileinput-button{
    background: url(images/theme-options-sprite.png) scroll no-repeat 0 -154px;
}
#import_extra_style .fileinput-button:hover{
    background: url(images/theme-options-sprite.png) scroll no-repeat -28px -154px;
}
.fileinput-button{
    margin-top: 0 !important;
}
#remove_tag{
    display: inline-block;
    clear: both;
    margin: 10px 0 0 10px;
    line-height: 1px;
    background-color: #EFF2F7;
    border: 1px solid #CCD5E4;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: default;
    overflow: hidden;

}
#remove_tag span{
    display: inline-block;
    padding: 3px 3px 3px 5px;
    height: 10px;
    line-height: 10px;
    color: #000000;
}
#remove_tag a{
    display: inline-block;
    margin-top: 2px;
    width: 10px;
    height: 10px;
    line-height: 10px;
    font-size: 12px;
    vertical-align: top;
}

.style_info_holder > div{
    margin-right: 15px;
}
.style_info_holder{
    display: table-cell;
}
.style_info_description{
    margin-top: 4px;
    line-height: 20px;
}
.style_info_version,
.style_info_last_update,
.style_info_author,
.style_info_author_email,
.style_info_author_url,
.style_info_tags{
    margin-top: 5px;
    padding-left: 15px;
    float: left;
    font-size: 11px;
    line-height: 14px;
    color: #555;
}
.style_info_version{
    background: url('images/theme-options-sprite.png') no-repeat 0 -70px;
}
.style_info_last_update{
    background: url('images/theme-options-sprite.png') no-repeat 0 -84px;
}
.style_info_author{
    background: url('images/theme-options-sprite.png') no-repeat 0 -98px;
}
.style_info_author_email{
    background: url('images/theme-options-sprite.png') no-repeat 0 -112px;
}
.style_info_author_url{
    background: url('images/theme-options-sprite.png') no-repeat 0 -126px;
}
.style_info_tags{
    background: url('images/theme-options-sprite.png') no-repeat 0 -140px;
}

#extra_style_nav{
    float: right;
    margin: 7px 0 0 20px;
}
#help,
#show_all,
#hide_all,
#collapse_expand{
    display: inline-block;
    margin-left: 6px;
    width: 14px;
    height: 14px;
    text-indent: -9999px;
    opacity:0.75;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter:alpha(opacity=75);
}
#help:hover,
#show_all:hover,
#hide_all:hover,
#collapse_expand:hover{
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);

}
#help{
    background: url(images/theme-options-sprite.png) scroll no-repeat 0 0;
}
#show_all{
    background: url(images/theme-options-sprite.png) scroll no-repeat 0 -42px;
}
#hide_all{
    background: url(images/theme-options-sprite.png) scroll no-repeat 0 -56px;
}
#collapse_expand,
#collapse_expand.collapsable{
    background: url(images/theme-options-sprite.png) scroll no-repeat 0 -28px;
}
#collapse_expand.expandable{
    background: url(images/theme-options-sprite.png) scroll no-repeat 0 -14px;
}

#extra_style_options{
    margin: 0;
    padding: 0 !important;
    overflow: hidden;
}
#extra_style_options div label{
    display: block;
    background-color: #f9f9f9;
    background: #f9f9f9 url(images/theme_options_arrows.png) scroll no-repeat 18px -4px;
    padding: 10px 10px 10px 30px;
    margin-top: -1px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
#extra_style_options div label:hover{
/*
    background-color: #f3f3f3;
*/
    background-color: #DFFFBE;
    background: #DFFFBE url(images/theme_options_arrows.png) scroll no-repeat 15px -4px;
}
#extra_style_options div label.active{
    background-color: #CFFDA0;
    background: #CFFDA0 url(images/theme_options_arrows.png) scroll no-repeat 18px -54px;
    font-weight: bold;
}
#extra_style_options div.level1 label{
    background: #eef7fe url(images/theme_options_arrows.png) scroll no-repeat 27px -103px;
    padding: 10px 10px 10px 50px;
    border-bottom: 1px solid #ccc;
    color: #555;
}
#extra_style_options div.level1 label:hover{
    background: #dbecfb url(images/theme_options_arrows.png) scroll no-repeat 24px -103px;
}
#extra_style_options div.level1 label.active{
    background: #cde7fc url(images/theme_options_arrows.png) scroll no-repeat 27px -153px;
}
#extra_style_options div.level2 label{
    background: #fff7d1 url(images/theme_options_arrows.png) scroll no-repeat 37px -204px;
    padding: 10px 10px 10px 70px;
    border-bottom: 1px solid #ccc;
    color: #777;
}
#extra_style_options div.level2 label:hover{
    background: #fdefac url(images/theme_options_arrows.png) scroll no-repeat 34px -204px;
}
#extra_style_options div.level2 label.active{
    background: #fbe788 url(images/theme_options_arrows.png) scroll no-repeat 37px -254px;
}
#extra_style_options div.level3 label{
    background: #faeded url(images/theme_options_arrows.png) scroll no-repeat 45px -302px;
    padding: 10px 10px 10px 90px;
    border-bottom: 1px solid #ccc;
    color: #777;
}
#extra_style_options div.level3 label:hover{
    background: #fee5e5 url(images/theme_options_arrows.png) scroll no-repeat 42px -302px;
}
#extra_style_options div.level3 label.active{
    background: #ffd1d1 url(images/theme_options_arrows.png) scroll no-repeat 45px -352px;
}
#extra_style_options div.level4 label{
    background: #EBEBEB url(images/theme_options_arrows.png) scroll no-repeat 55px -403px;
    padding: 10px 10px 10px 110px;
    border-bottom: 1px solid #ccc;
    color: #777;
}
#extra_style_options div.level4 label:hover{
    background: #e6e4e4 url(images/theme_options_arrows.png) scroll no-repeat 52px -403px;
}
#extra_style_options div.level4 label.active{
    background: #dfdfdf url(images/theme_options_arrows.png) scroll no-repeat 55px -453px;
}
#extra_style_options div.level5 label{
    background: #F1F1F1 url(images/theme_options_arrows.png) scroll no-repeat 64px -503px;
    padding: 10px 10px 10px 130px;
    border-bottom: 1px solid #ccc;
    color: #777;
}
#extra_style_options div.level5 label:hover{
    background: #E8E8E8 url(images/theme_options_arrows.png) scroll no-repeat 61px -503px;
}
#extra_style_options div.level5 label.active{
    background: #D9D9D9 url(images/theme_options_arrows.png) scroll no-repeat 64px -553px;
}
#extra_style_options div.level6 label{
    background: #F1F1F1 url(images/theme_options_arrows.png) scroll no-repeat 84px -503px;
    padding: 10px 10px 10px 150px;
    border-bottom: 1px solid #ccc;
    color: #777;
}
#extra_style_options div.level6 label:hover{
    background: #E8E8E8 url(images/theme_options_arrows.png) scroll no-repeat 81px -503px;
}
#extra_style_options div.level6 label.active{
    background: #D9D9D9 url(images/theme_options_arrows.png) scroll no-repeat 84px -553px;
}
#extra_style_options div.level7 label{
    background: #F1F1F1 url(images/theme_options_arrows.png) scroll no-repeat 104px -503px;
    padding: 10px 10px 10px 170px;
    border-bottom: 1px solid #ccc;
    color: #777;
}
#extra_style_options div.level7 label:hover{
    background: #E8E8E8 url(images/theme_options_arrows.png) scroll no-repeat 101px -503px;
}
#extra_style_options div.level7 label.active{
    background: #D9D9D9 url(images/theme_options_arrows.png) scroll no-repeat 104px -553px;
}

/*
#extra_style_options div label[rel="MAIN COLOR"]{
    background-image: url('images/comments3.png');
    background-repeat: no-repeat;
    background-position: 10px center;
}
*/
#extra_style_options .attributes_container{
    display: none;
    background: #fff;
    vertical-align: top;
    /*border-bottom: 1px solid #ccc;*/
}

/*
#extra_style_options .attributes_container > div:last-child label{
    border-bottom: none;
}
#extra_style_options .attributes_container > div:last-child .attributes_container{
    border-top: 1px solid #ccc;
    border-bottom: none;
}
*/

.separator{
    clear: both;
    padding: 10px 0;
    border-bottom: 1px dotted #f1f1f1;
}
.separator:after { /* clearfix */
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
.level1 .separator{
    padding: 10px 0 10px 20px;
}
.level2 .separator{
    padding: 10px 0 10px 40px;
}
.level3 .separator{
    padding: 10px 0 10px 60px;
}
.level4 .separator{
    padding: 10px 0 10px 80px;
}
.level5 .separator{
    padding: 10px 0 10px 100px;
}
.level6 .separator{
    padding: 10px 0 10px 120px;
}
.level7 .separator{
    padding: 10px 0 10px 140px;
}

#extra_style_options .attributes_container .separator:last-child{
    border-bottom: none;
}


#extra_style_options .attribute{
    float: left;
    clear: left;
    margin: 0 0 0 40px;
    width: 200px;
    line-height: 24px;
    font-size: 12px;
}
#extra_style_options .group_attribute{
    margin-top: 18px;
}
#extra_style_options .group_value{
    float: left;
    margin-right: 20px;
    color: #aaa;
    font-size: 10px;
    line-height: 18px;
    height: 46px;
}
#extra_style_options .group_value_container{
    display: table;
}
#extra_style_options .group_value .InputBox,
#extra_style_options .group_value .colorInput,
#extra_style_options .group_value .selectHolder{
    float: none !important;
    display: block;
    color: #444;
}
#extra_style_options .group_value .backgroundImageContainer{
    position: relative;
}
#extra_style_options .group_value .backgroundImageContainer .selectHolder{
    float: left !important;
}

.custom-image-msg{
  display: none;
  padding: 5px 10px;
  position: absolute;
  bottom: 40px;
  right: 0;
  font-size: 12px;
  line-height: 18px;
  background: #fff;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.25);
  z-index: 10;
}
.custom-image-msg:after {
    display: block;
    position: absolute;
    bottom: -6px;
    right: 6px;
    width: 18px;
    height: 10px;
    content: url('images/triangle.png');
}
.custom-image-msg a{
    margin-left: 5px;
}
#new_extra_style,
#extra_style_options input.InputBox{
    padding: 3px 10px;
    border: 2px solid #dcdfe4 !important;
	height: 24px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#new_extra_style:hover,
#extra_style_options input.InputBox:hover{
    border: 2px solid #b9bfc9 !important;
}
#new_extra_style:focus,
#extra_style_options input.InputBox:focus{
    border: 2px solid #4BA3E9 !important;
    background: none !important;
}
#extra_style_options textarea{
    padding: 3px 10px;
    width: 500px;
    min-width: 500px;
    height: 200px;
    min-height: 200px;
    border: 2px solid #dcdfe4;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#extra_style_options textarea:hover{
    border: 2px solid #b9bfc9;
}
#extra_style_options textarea:focus{
    border: 2px solid #4BA3E9;
    background: none;
}
.colorInput {
	position: relative;
    float: left;
    width: 115px;
    border: 2px solid #dcdfe4;
    background-color: #dcdfe4;
	height: 24px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.colorInput:hover {
    border: 2px solid #b9bfc9;
    background-color: #b9bfc9;
}
.colorInput.focus {
    border: 2px solid #4BA3E9;
    background-color: #4BA3E9;
}
#extra_style_options input.InputColor{
	position: relative;
    border: none;
    width: 69px;
    font-size: 14px;
    height: 14px;
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background-color: #fff;
}
.colorSelector {
	position: absolute;
	top: 0;
	right: 0;
	width: 24px;
	height: 24px;
	background: url(images/custom_select.png);
    cursor: pointer;
}
.selectHolder,
#extra_style_options .selectHolder{
    position: relative;
    float: left;
    display: inline-block;
    border: 2px solid #dcdfe4;
	height: 24px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #fff url(images/select.png) no-repeat right 0;
}
.selectHolder:hover,
#extra_style_options .selectHolder:hover{
    border: 2px solid #b9bfc9;
    background: #fff url(images/select.png) no-repeat right -24px;
}
.selectHolder.focus,
#extra_style_options .selectHolder.focus{
    border: 2px solid #4BA3E9;
    background: #fff url(images/select.png) no-repeat right -48px;
}
#current_style,
#extra_style,
#extra_style_options select{
    position: relative;
    top: -2px;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ff0000;
    padding: 3px 10px;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter:alpha(opacity=0);
    z-index: 3;
}
#current_style,
#extra_style,
option,
#extra_style_options select option{
    padding: 2px 5px;
    border: none;
}
.selectHolder span,
#extra_style_options .selectHolder span{
    position: absolute;
    top: 0px;
    left: 10px;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
}
#extra_style_options.system .fileupload-container{
    display: none;
}
#form_new_style{
    max-height: none;
}
#form_new_style label{
    display: block;
}
#form_new_style input{
}
#form_new_style textarea{
    resize: vertical;
}
#Form_Form #Form_SAVE{
    margin: 0 5px 0 10px;
    background-color: #4BA3E9;
}
#Form_Form #Form_SAVE:hover{
    background: none repeat scroll 0 0 #5eb1f4;
}
#Form_Form #Form_SAVE:active{
    background: none repeat scroll 0 0 #479de2;
}
#Form_Form #save_as_popup{
    margin-left: 10px;
    background-color: #61ae24;
    text-shadow: none;
}
#Form_Form #save_as_popup:hover{
    background-color: #72c034;
}
#Form_Form #save_as_popup:active{
    background-color: #559d1b;
}
#Form_Form #save_as_popup.Button{
    margin-right: 5px;
    background-color: #4BA3E9;
}
#Form_Form #save_as_popup.Button:hover{
    background: none repeat scroll 0 0 #5eb1f4;
}
#Form_Form #Form_SAVE:active{
    background: none repeat scroll 0 0 #479de2;
}
#Form_Form #delete_extra_style{
    margin-left: 10px;
    background-color: #f18d05;
    text-shadow: none;
}
#Form_Form #delete_extra_style:hover{
    background: none repeat scroll 0 0 #fa9915;
}
#Form_Form #delete_extra_style:active{
    background: none repeat scroll 0 0 #e58400;
}

/* OTHER */
table.SelectionGrid td.Active {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
/*background:#e2f4ff none repeat scroll 0 0;*/
background:#DFFFBE none repeat scroll 0 0;
}
table.SelectionGrid h4 {
    color:#02455B;
    font-size:16px;
    margin-bottom:10px;
    text-shadow:0 1px 0 #FFFFFF;
}
table.SelectionGrid dl dt {
	display: inline;
   color: #000;
   border-right: 1px solid #e2f4ff;
   padding: 4px 6px 4px 0;
	margin: 0 4px 0 0;
}
table.SelectionGrid div.Info2 {
    display: table;
	min-width: 175px;
}
table.SelectionGrid img {
	float: left;
    margin: 0 15px 15px 0;
    border: 1px solid #ccc;
}
table.SelectionGrid div.Buttons{
    clear: both;
    float: none;
    margin: 15px 0 0 0;
}

.CurrentTheme {
	min-height: 170px;
	margin-bottom: 20px;
}

table.AltRows tr.Enabled th,
table.AltRows tr.Enabled td,
table.AltColumns tr.Enabled th,
table.AltColumns tr.Enabled td {
	background: #DFFFBE;
}

/* Envato */
#EnvatoSettings a.popup{
    margin-left: 10px;
}