/* Sprites
.SpDashboard,
.SpWarnings,
.SpPublicActivities,
.SpModeratorActivities,
.SpAdminActivities,
.SpUnansweredQuestions,
.NavButton.BackToProfile:before,
.PanelInfo a[href*='profile/quotes']:before,
.PanelInfo a[href*='profile/signature']:before,
.SpThumbnail,
.SpPicture,
.SpPreferences,
.SpPassword,
.SpEdit,
.FilterMenu .Infractions:before,
.SpActivity,
.SpAllCategories,
.SpMyDrafts,
.SpDashboard,
.SpBookmarks,
.SpInbox,
.SpNotifications,
.SpEditProfile,
.SpMessage,
.SpMyDiscussions,
.SpDiscussions,
.SpComments {
    display: inline-block;
    height: 16px;
    width: 16px;
    background: url('http://cdn.vanillaforums.com/images/famfamfam.png') 0 0 no-repeat transparent;
    background-position: 16px 16px;
    vertical-align: top;
    margin: 2px 4px 0 0;
}
.NavButton > .Sprite {
   margin: 0 4px 0 0;
}
.NavButton.Handle .Sprite {
   margin: 0;
}
.NavButton.ButtonGroup .SpDropdownHandle {
   margin: 0;
}
.MeBox .Sprite16 {
   margin: 0;
}
.SpPublicActivities { background-position: -16px -288px; }
.SpModeratorActivities { background-position: -32px -288px; }
.SpAdminActivities { background-position: -80px -288px; }
.SpUnansweredQuestions { background-position: -96px -272px; }
.SpThumbnail { background-position: -128px -49px; }
.SpPicture { background-position: -32px -176px; }
.SpPreferences { background-position: -64px -319px; }
.SpPassword { background-position: 0 -192px; }
.SpAllCategories { background-position: 0 -304px; }
.SpMyDrafts { background-position: -113px -144px; }
.SpEdit { background-position: 0 -160px; }
.SpEditProfile { background-position: -49px -257px; }
.SpMessage { background-position: -16px -16px; }
.SpComments { background-position: -48px -16px; }
.SpMyDiscussions { background-position: -80px -240px; }
.SpDiscussions { background-position: 0 -16px; }
.SpActivity { background-position: -96px -288px; }
.SpInbox { background-position: -48px -320px; }
.SpBookmarks { background-position: 0 -272px; }
.SpNotifications { background-position: -32px -272px; }
.FilterMenu .Infractions:before { background-position: -48px -273px; }
.PanelInfo a[href*='profile/quotes']:before { background-position: -32px -16px; }
.PanelInfo a[href*='profile/signature']:before { background-position: -64px -240px; }
.NavButton.BackToProfile:before { background-position: -48px -240px; }
.SpDashboard { background-position: 0 0; }


.NavButton.BackToProfile:before,
.PanelInfo a[href*='profile/quotes']:before,
.PanelInfo a[href*='profile/signature']:before,
.FilterMenu .Infractions:before {
   content: '';
}

*/
.SpIgnoreList,
.SpWhosOnline,
.SpDelete,
.SpBan,
.SpWarn,
.SpWarnings,
.SpActivity,
.SpPublicActivities,
.SpModeratorActivities, .SpMod,
.SpAdminActivities,
.SpUnansweredQuestions,
.SpQuote,
.SpSignatures,
.SpThumbnail,
.SpPicture,
.SpPhoto,
.SpPreferences,
.SpPassword,
.SpEdit,
.SpProfile,
.SpInfraction,
.SpActivity,
.SpAllCategories,
.SpMyDrafts,
.SpDashboard,
.SpOptions,
.SpCog,
.SpBookmarks,
.SpInbox,
.SpNotifications,
.SpEditProfile,
.SpMessage,
.SpMyDiscussions,
.SpDiscussions,
.SpComments,
.SpPopularDiscussions,
.SpApplicants,
.SpSpam,
.SpSignOut,
.SpDropdownHandle,
.SpBestOf {
   display: inline-block;
   min-height: 14px;
   min-width: 14px;
   background: url(styles/system/img/plugins/sprites/sprites_on-black.png);
   background-position: 14px 14px;
   vertical-align: middle;
   margin: 0;
}
.MenuItems .Sprite,
.NavButton > .Sprite {
   margin: 1px 10px 0 0;
}
.NavButton.Handle .Sprite {
   margin: 0;
}
.NavButton.ButtonGroup .SpDropdownHandle {
   margin: 0;
}
.MeBox .Sprite16 {
   margin: 0;
}
.SpActivity,
.SpPublicActivities { background-position: -222px -101px !important; }
.SpModeratorActivities, .SpMod { background-position: -293px -54px !important; }
.SpAdminActivities { background-position: -268px -53px !important; }
.SpUnansweredQuestions { background-position: -102px -278px !important; }
.SpThumbnail { background-position: -246px -101px !important; }
.SpPicture, .SpPhoto { background-position: -269px -29px !important; }
.SpPassword { background-position: -317px -101px !important; }
.SpAllCategories { background-position: -150px -78px !important; }
.SpMyDrafts { background-position: -270px -78px !important; }
.SpEdit { background-position: -149px -52px !important; }
.SpEditProfile { background-position: -245px -29px !important; }
.SpComments { background-position: -174px -78px !important; }
.SpMyDiscussions { background-position: -342px -30px !important; }
.SpDiscussions { background-position: -246px -78px !important; }
.SpMessage { background-position: -99px -101px !important; }
.SpInbox { background-position: -100px -100px !important; }
.SpBookmarks { background-position: -76px -76px !important; }
.SpPreferences,
.SpNotifications { background-position: -172px -100px !important; }
.SpQuote { background-position: -317px -6px !important; }
.SpSignatures { background-position: -149px -101px !important; }
.SpDashboard { background-position: -192px -48px !important; }
.SpOptions, .SpCog { background-position: -220px -52px !important; }
.SpInfraction,
.SpWarn,
.SpWarnings { background-position: -100px -52px !important; }
.SpBan { background-position: -317px -29px !important; }
.SpIgnoreList,
.SpDelete { background-position: -341px -5px !important; }
.SpWhosOnline { background-position: -293px -29px !important; }
.SpPopularDiscussions { background-position: -270px -6px !important; }
.MeMenu .SpNotifications { background-position: -172px -100px !important; }
