@import url("https://www.sailcannabis.co/bootstrap/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    src: local('Bitter-Regular'), url('http://themes.googleusercontent.com/static/fonts/bitter/v3/2PcBT6-VmYhQCus-O11S5-vvDin1pK8aKteLpeZ5c0A.woff') format('woff');
}

body,
.SiteTitle,
h1, h2, h3, h4, h5 {
    font-family: 'Open Sans',serif;
}

a {
    color: #1D5689;
}

a:hover {
    color: #003467;
}

/** Custom Master View Stuff **/
#Frame > .Top {
    background: #324057;
    padding: 0 20px;
    text-align: left;
    line-height: 2.4;
}

.TopMenu a {
    padding: 8px;
    font-size: 13px;
    font-weight: 400;
    color: #ddd;
}

.TopMenu a:hover {
    background: #333;
}

.Banner {
    position: relative;
    min-height: 98px;
    text-align: left;
    padding: 20px;
}

.SiteTitle {
    font-size: 40px;
    font-weight: bold;
    line-height: 100px;
}

.SiteTitle a {
    color: #000;
}

.Banner .Row {
    position: relative;
}

.AdSpace {
    position: absolute;
    top: 0;
    right: 0;
    height: 90px;
    line-height: 90px;
    width: 728px;
    background: #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
    border: 4px solid #eee;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
    color: #777;
}

#Head {
    color: #000;
    
    background: #F7F7F7;
    border: 1px solid #D0D0D0;
    border-width: 1px 0;
    padding: 0;
}

#Head .SiteMenu a {
    font-size: 13px;
    font-weight: 400;
    color: #777;
    padding: 15px 0;
    margin: 0 30px;
    display: inline-block;
}

#Head .SiteMenu a:first-child {
    margin-left: 0;
}

#Head .SiteMenu a:hover {
    color: #222;
}

#Head .SiteSearch {
    top: 9px;
    right: 0;
}

#Head .SiteSearch .InputBox {
    
  font-size: 14px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #d3dce6;
  text-indent: 16px;
    width: 100%;
}

#Head .SiteSearch .Button {
    top: 9px;
}

.BreadcrumbsWrapper {
    font-size: 11px;
    border-bottom: 1px dotted #eee;
    padding: 6px 0;
    margin-bottom: 20px;
    color: #aaa;
}

.Breadcrumbs a {
    color: #777;
}

/** Vanilla Contents **/
.PageDescription {
    color: #888;
    margin: 8px;
}

.CategoryBox h2 {
    margin: 20px 8px 8px;
}

.CategoryBox h2 a {
    color: #aaa;
}

.HomepageTitle {
    margin: 0 8px;
}

.HomepageTitle .AdminCheck {
    padding: 0;
}

.Pager {
    font-size: 18px;
}

.ProfileOptions {
    font-weight: bold;
}

.DataTable td {
    border-style: dotted;
}

.DataList > .Item {
    border-style: dotted !important;
    padding: 12px 8px;
}

.DataList .Item .Item {
    border: none !important;
}

.DataList .Title,
.DataList .Title a {
    font-size: 18px;
    color: #333;
}

.DataList .Title {
    color: #777;
}

.Meta,
.MItem,
.MItem a {
    color: #ccc;
}

.DataList .Title a:hover {
    text-decoration: underline;
}

.MItem {
    margin: 0 8px;
    padding: 0;
}

.MItem:last-child {
    border: none;
}

/* Big Button */
.ButtonGroup .Button,
#Content input.Button,
.Button {
 
  color: #fff;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #7b7ff0, #7974e3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 9px 16px 12px;
    
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #d3dce6;
}

.ButtonGroup.Open .Button.Handle,
#Content input.Button:hover,
#Content input.Button:focus,
#Content input.Button:active,
.Button:hover,
.Button:focus,
.Button:active {
    color: #fff;
/*    border-color: #6f0b00;*/
}

.ButtonGroup.Open .Button.Handle,
#Content input.Button:focus,
#Content input.Button:active,
.Button:focus,
.Button:active {
    background-image: linear-gradient(to bottom, #7b7ff0, #7974e3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

#Panel .BigButton {
    margin: 20px 0;
}

input.Button {
    padding: 6px 12px;
}

.BoxFilter {
    margin: 20px 0;
}

.Box {
    color: #888;
    margin: 0 0 30px;
}

.Box h4 {
    color: #333;
    font-size: 18px;
    text-transform: uppercase;
    margin: 6px 0;
}

.PanelInfo li {
    font-weight: bold;
    background: #f7f7f7;
    padding: 2px 4px;
    border-style: dotted !important;
}

.PanelInfo a {
    color: #555;
}

.PanelInfo a:hover {
    text-decoration: underline;
}

body.Profile .PanelInfo .Active,
.PanelInfo .Active {
    background: #fff;
}

.PanelInfo .Active a {
    color: #333;
}

.Bullet {
    color: #aaa;
}

/* customizing style.css */
#Panel .FilterMenu li, .PanelInfo li {
    border-bottom: 1px solid #ddd;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 4px 12px;
}
.BoxCategories{
    padding-top: 10px;
}
.ReplyLink {
    font-size: 14px;
}
select{
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #ffffff, #f0f3f7);
    border: solid 1px #d3dce6;
    color: #324057;
}
.MenuItems a:hover {
    color: #fff !important;
    text-decoration: none;
    background-color: #324057!important;
}
.Message {
    
    margin-top: 5px;
/*    margin-left: 65px;*/
}
.CountItemWrap {
    width: 100px;
}
.CategoryFilterTitle{
    display: none;
}
.CategoryFilterOptions{
     display: none;
}
/* own style for navigation */

.top-bar{
  background-color: #324057;
  text-decoration: none;
}
 .top-bar a{
    display:inline-block;
    padding-top: 7px;
    padding-bottom: 9px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #d3dce6;

    

  }
.topnav-1 {
  padding-top: 24px; }
  .topnav-1 .button {
    margin-left: 16px;
    height: 19px;
    padding: 9px 16px 12px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border: solid 1px transparent;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 180ms;
    transition-delay: 20ms;
    background-image: linear-gradient(to bottom, #7b7ff0, #7974e3);
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff; }

.top-bar {
  background-color: #324057;
  text-decoration: none; }
  .top-bar a {
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 9px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #d3dce6; }
    .top-bar a:hover {
      color: #FFF; }

.topnav {
  width: inherit; }
  .topnav a {
    padding-right: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #8492a6;
    text-decoration: none; }
    .topnav a:hover {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 1.5;
      text-align: left;
      color: #324057; }
  .topnav .social-icons {
    float: right;
    font-size: 10px; }
    .topnav .social-icons a {
      margin-right: 20px; }
    .topnav .social-icons .icn-facebook {
      background-image: url("images/icn-facebook.png");
      background-repeat: no-repeat; }
      .topnav .social-icons .icn-facebook:hover {
        background-image: url("images/icn-facebook-hover.png"); }
    .topnav .social-icons .icn-twitter {
      background-image: url("images/icn-twitter.png");
      background-repeat: no-repeat; }
      .topnav .social-icons .icn-twitter:hover {
        background-image: url("images/icn-twitter-hover.png"); }
    .topnav .social-icons .icn-instagram {
      background-image: url("images/icn-instagram.png");
      background-repeat: no-repeat; }
      .topnav .social-icons .icn-instagram:hover {
        background-image: url("images/icn-instagram-hover.png"); }
  .topnav .icon {
    display: none; }

/* footer styles */

#Foot{
        padding: 0px 0px;
}
.sail_footer{
    font-family: 'Open Sans',serif;
/*  height: 328px;*/
  background-color: #324057;
    
}
.sail_footer .sail-footer-content{
    padding-top: 40px;
    padding-bottom: 84px;
}
.sail_footer .sail-footer-content .footer-heading{
    padding-bottom: 15.1px;

}
.sail_footer .sail-footer-content p{
 
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.sail_footer .sail-footer-content .sail-copyright {
    font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.sail_footer .sail-footer-content .footer-heading-2{
  padding-top: 18px;
  font-size: 16px;
  font-weight: 600;
  line-height: 2;
  color: #ffffff;
}
#Foot a {
  color: #8492a6;
}
#Foot a:hover{
  color: #fff;
}
.sail_footer .sail-footer-content li a{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
 color: #8492a6;
  text-decoration: none;
  padding-bottom: 17px;
  display: inline-block;
}
.sail_footer .sail-footer-content li a:hover{
    
/*  color: yellow;*/
  
}
.sail_footer .sail-footer-content .social-icons a{
     object-fit: contain;
    
    margin-right: 24px;
}


/*buttons */
.About dl dt {
    display: block;
    margin-bottom: 8;
    float: left;
    font-size: 12px;
    width: 170px;
    color: #555;
    overflow: hidden;}
.About dl dd {
    display: block;
    margin-left: 84px;
    margin-bottom: 8px;
    padding: 0;
    font-size: 14px;
    text-align: left;
    word-break: break-all;
}

.PreviewButton, .DraftButton, .WriteButton{
    background-image: linear-gradient(to bottom, #ffffff, #f0f3f7);
    color: #8492a6;    
}
.PreviewButton:hover,.PreviewButton:focus,.PreviewButton:active, 
.DraftButton:hover,.DraftButton:focus,.DraftButton:active,
.WriteButton:hover,.WriteButton:focus,.WriteButton:active{
    background-image: linear-gradient(to bottom, #ffffff, #f0f3f7);
    color: #8492a6;    
}

