<section class="main-header ">
    <div class="header container">
        <header class="row">
            <div class="col-1">
                <div class="logo">
                    <a href="http://sailcannabis.co/">
                        <img src="http://sailcannabis.co/images/sail-logo.png" height="55.7px" width="89.1px"/>
                    </a>
                </div>
            </div>
            <div class="col-11 text-right topnav-1">
                <div class="">
                    <span class="cannabis-journey">Simplifying the cannabis journey.</span>
                    <a href="https://sailportal.co" class="button" target="_blank">Canadian Login / Register</a>
                    <a href="https://sailportal.net" class="button" target="_blank">American Login / Register</a>

                </div>
            </div>
        </header>


        <hr>
        <div class="topnav" id="myTopnav">

           

            <!--<a href="#">Forum</a>-->
            <a href="http://sailcannabis.co/">Articles</a>
            <a href="https://sailcannabis.cmnty.com/home" target="_blank">Community</a>
            <a href="http://sailcannabis.co/webinar.html">Webinar</a>
            <a href="http://sailcannabis.co/find-clinic.html" class="find-clinic-menu">Find A Clinic</a>


            <div class="social-icons">
                <a href="https://www.facebook.com/sailcann/" class="icn-facebook" target="_blank"></a>
                <a href="https://twitter.com/sailcannabis" class="icn-twitter" target="_blank"></a>
                <a href="https://www.instagram.com/sailcannabis_/" class="icn-instagram" target="_blank"
                   style="margin-right: 0px;"></a>
            </div>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="showSidebar()"><img
                    src="images/btn-menu@3x.png" class="btn-menu"></a>

            
        </div>


        <!---------------------------sidebar menu----------------------->

      
        <!-------------sidebar menu---------------------->


    </div>


</section>